@page
@model MvcRW.Models.Admin
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewBag.Title = "Admin Rumah Wasathia";
    Layout = "~/Views/Shared/_RWLayout.cshtml";
}
<div class="login-box">
    <img src="~/mytemplate/dist/img/logogram2.png" class="logogram" id="example1">
    <div class="rw">
        <b>ADMIN RW</b>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body box">
        <p class="login-box-msg">Masukkan Username dan Password untuk Login</p>
        <form action="#" method="post">
            <div class="form-group has-feedback">
                <div asp-validation-summary="All" class="text-danger"></div>
                <label>Username</label>
                <input asp-for="NamaPengguna" value="username" type="text" class="form-control" placeholder="Username"><br />
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <label>Password</label>
                <input asp-for="KataSandi" value="password" type="password" class="form-control" placeholder="Password" /><br />
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label>
                        </label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <input asp-for="RememberMe" type="checkbox" /><br />
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                </div>
                @Html.AntiForgeryToken()
                <!-- /.col -->
            </div>
        </form>
    </div>
    <!-- /.login-box-body -->
</div>