
@{
    ViewBag.Title = "Admin Rumah Wasathia";
    Layout = "~/Views/Shared/_Tags.cshtml";
}

<!-- MENU #############################-->  
<aside class="main-sidebar">
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="~/mytemplate/dist/img/logogram.png" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>Rumah Wasathia</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            <li>
                <a href="~/Home/Index">
                    <i class="fa fa-home"></i> <span>Home</span>
                    <span class="pull-right-container">
                    </span>
                </a>
            </li>
            <li>
                <a href="~/Home/Artikel">
                    <i class="fa fa-file-text"></i> <span>Artikel</span>
                    <span class="pull-right-container">
                    </span>
                </a>
            </li>
            <li>
                <a href="~/Home/Buku">
                    <i class="fa fa-book"></i> <span>Buku</span>
                    <span class="pull-right-container">
                    </span>
                </a>
            </li>
            <li>
                <a href="~/Home/Galeri">
                    <i class="fa  fa-photo"></i> <span>Galeri</span>
                    <span class="pull-right-container">
                    </span>
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-group"></i> <span>Kajian</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="~/Home/Audio"><i class="fa fa-volume-up"></i> Audio</a></li>
                    <li><a href="~/Home/Video"><i class="fa fa-video-camera"></i> Video</a></li>
                </ul>
            </li>
            <li class="active">
                <a href="~/Home/Kategori">
                    <i class="fa  fa-navicon"></i> <span>Kategori</span>
                    <span class="pull-right-container">
                    </span>
                </a>
            </li>
            <li>
                <a href="~/Home/Konsultasi">
                    <i class="fa fa-question"></i> <span>Konsultasi</span>
                    <span class="pull-right-container">
                    </span>
                </a>
            </li>
            <li>
                <a href="~/Home/Pdf">
                    <i class="fa fa-file-pdf-o"></i> <span>PDF</span>
                    <span class="pull-right-container">
                    </span>
                </a>
            </li>
            <li>
                <a href="~/Home/Tags">
                    <i class="fa  fa-tags"></i> <span>Tags</span>
                    <span class="pull-right-container">
                    </span>
                </a>
            </li>
        </ul>
    </section>
</aside>
<!-- /MENU -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header">
                        <h3 class="box-title">
                            Unggah Kategori
                        </h3>
                        <div class="form-group">
                            <label for="exampleInputEmail1"> </label>
                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Masukkan Judul">
                        </div>
                        <!-- tools box -->
                        <div class="pull-right box-tools">
                            <button type="button" class="btn btn-info btn-sm" data-widget="collapse" data-toggle="tooltip"
                                    title="Collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <!-- /. tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body pad">
                        <form>
                            <div class="box-footer">
                                <button type="submit" class="btn btn-primary pull-right">Bagikan</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- /.col-->
        </div>
        <!-- ./row -->
    </section>
    <!-- /.content -->
</div>