
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_RWLayout.cshtml";
}

<!--data start Artikel.cshtml-->
<div class="container blogging-style">
    <div class="row">
        <!-- breadcrumb start -->
        <div class="page-header">
            <ol class="breadcrumb">
                <li><a href="#">Beranda</a></li>
                <li class="active">Artikel</li>
            </ol>
        </div>
        <!--tes-->
        <!-- breadcrumb end -->
        <!-- Kolom artikel Begin -->
        <div class="col-sm-16 banner-outer gapTop">
            <div class="col-sm-16 col-md-10 wow fadeInLeft animated" data-wow-delay="1s" data-wow-offset="50">
                <div class="main-title-outer center-block">
                    <div class="main-title left-side">Artikel</div>
                    <div class="row text-center">
                        <div class="item topic col-md-4 col-xs-8">
                            <a href="~/rwtheme/pdf/Belanja dengan Kartu Diskon.pdf" target="_blank">
                                <img class="img-thumbnail icon-effect" src="~/rwtheme/images/general/pdf.png" alt="" />
                                <h4>Belanja dengan Kartu Diskon</h4>
                            </a>
                        </div>
                        <div class="item topic col-md-4 col-xs-8">
                            <a href="~/rwtheme/pdf/Bitcoin Menurut Fikih.pdf" target="_blank">
                                <img class="img-thumbnail icon-effect" src="~/rwtheme/images/general/pdf.png" alt="" />
                                <h4>Bitcoin Menurut Fikih</h4>
                            </a>
                        </div>
                        <div class="item topic col-md-4 col-xs-8">
                            <a href="~/rwtheme/pdf/Denda Keterlambatan pada bank syariah.pdf" target="_blank">
                                <img class="img-thumbnail icon-effect" src="~/rwtheme/images/general/pdf.png" alt="" />
                                <h4>Denda Keterlambatan pada bank syariah</h4>
                            </a>
                        </div>
                        <div class="item topic col-md-4 col-xs-8">
                            <a href="~/rwtheme/pdf/Fikih Bekerja di Lembaga konvensional.pdf" target="_blank">
                                <img class="img-thumbnail icon-effect" src="~/rwtheme/images/general/pdf.png" alt="" />
                                <h4>Fikih Bekerja di Lembaga konvensional</h4>
                            </a>
                        </div>
                        <div class="item topic col-md-4 col-xs-8">
                            <a href="~/rwtheme/pdf/Fikih Biaya Perjalanan Dinas yang Dipersingkat.pdf" target="_blank">
                                <img class="img-thumbnail icon-effect" src="~/rwtheme/images/general/pdf.png" alt="" />
                                <h4>Fikih Biaya Perjalanan Dinas yang Dipersingkat</h4>
                            </a>
                        </div>
                        <div class="item topic col-md-4 col-xs-8">
                            <a href="~/rwtheme/pdf/Fikih Bisnis Dropship.pdf" target="_blank">
                                <img class="img-thumbnail icon-effect" src="~/rwtheme/images/general/pdf.png" alt="" />
                                <h4>Fikih Bisnis Dropship</h4>
                            </a>
                        </div>
                        <div class="item topic col-md-4 col-xs-8">
                            <a href="~/rwtheme/pdf/Fikih Bisnis Reseller.pdf" target="_blank">
                                <img class="img-thumbnail icon-effect" src="~/rwtheme/images/general/pdf.png" alt="" />
                                <h4>Fikih Bisnis Reseller</h4>
                            </a>
                        </div>
                        <div class="item topic col-md-4 col-xs-8">
                            <a href="~/rwtheme/pdf/Fikih Uang Muka.pdf" target="_blank">
                                <img class="img-thumbnail icon-effect" src="~/rwtheme/images/general/pdf.png" alt="" />
                                <h4>Fikih Uang Muka</h4>
                            </a>
                        </div>
                        <div class="item topic col-md-4 col-xs-8">
                            <a href="~/rwtheme/pdf/Jual Beli Emas tidak Tunai (Mengangsur).pdf" target="_blank">
                                <img class="img-thumbnail icon-effect" src="~/rwtheme/images/general/pdf.png" alt="" />
                                <h4>Jual Beli Emas tidak Tunai (Mengangsur)</h4>
                            </a>
                        </div>
                        <div class="item topic col-md-4 col-xs-8">
                            <a href="~/rwtheme/pdf/Jual Beli Mata Uang.pdf" target="_blank">
                                <img class="img-thumbnail icon-effect" src="~/rwtheme/images/general/pdf.png" alt="" />
                                <h4>Jual Beli Mata Uang</h4>
                            </a>
                        </div>
                        <div class="item topic col-md-4 col-xs-8">
                            <a href="~/rwtheme/pdf/Jual Beli melalui marketplace.pdf" target="_blank">
                                <img class="img-thumbnail icon-effect" src="~/rwtheme/images/general/pdf.png" alt="" />
                                <h4>Jual Beli melalui marketplace</h4>
                            </a>
                        </div>
                        <div class="item topic col-md-4 col-xs-8">
                            <a href="~/rwtheme/pdf/Jual Beli Murabahah di Bank Syariah.pdf" target="_blank">
                                <img class="img-thumbnail icon-effect" src="~/rwtheme/images/general/pdf.png" alt="" />
                                <h4>Jual Beli Murabahah di Bank Syariah</h4>
                            </a>
                        </div>
                        <div class="item topic col-md-4 col-xs-8">
                            <a href="~/rwtheme/pdf/Maksimal Keuntungan.pdf" target="_blank">
                                <img class="img-thumbnail icon-effect" src="~/rwtheme/images/general/pdf.png" alt="" />
                                <h4>Maksimal Keuntungan</h4>
                            </a>
                        </div>
                        <div class="item topic col-md-4 col-xs-8">
                            <a href="~/rwtheme/pdf/Pesan Makanana Via Ojek Daring.pdf" target="_blank">
                                <img class="img-thumbnail icon-effect" src="~/rwtheme/images/general/pdf.png" alt="" />
                                <h4>Pesan Makanana Via Ojek Daring</h4>
                            </a>
                        </div>
                        <div class="item topic col-md-4 col-xs-8">
                            <a href="~/rwtheme/pdf/Top Up _ Transfer Saldo Jasa Transportasi Online.pdf" target="_blank">
                                <img class="img-thumbnail icon-effect" src="~/rwtheme/images/general/pdf.png" alt="" />
                                <h4>Top Up Transfer Saldo Jasa Transportasi Online</h4>
                            </a>
                        </div>
                        <div class="item topic col-md-4 col-xs-8">
                            <a href="~/rwtheme/pdf/Wakaf Produktif.pdf" target="_blank">
                                <img class="img-thumbnail icon-effect" src="~/rwtheme/images/general/pdf.png" alt="" />
                                <h4>Wakaf Produktif</h4>
                            </a>
                        </div>
                        <div class="item topic col-md-4 col-xs-8">
                            <a href="~/rwtheme/pdf/Zakat Profesi (Hukum, Tarif dan Nisab).pdf" target="_blank">
                                <img class="img-thumbnail icon-effect" src="~/rwtheme/images/general/pdf.png" alt="" />
                                <h4>Zakat Profesi (Hukum, Tarif dan Nisab)</h4>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-16 text-center">
                            <ul class="pagination">
                                <li><a href="#" class="hidden-xs">Terdahulu</a></li>
                                <li><a href="#">&laquo;</a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">&raquo;</a></li>
                                <li><a href="#" class="hidden-xs">Terbaru</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-16 col-md-6 right-side-style wow fadeInDown animated" data-wow-delay="1s" data-wow-offset="40">
                <div class="row">
                    <div class="col-sm-16">
                        <div class="main-title-outer">
                            <div class="main-title right-side">Perpustakaan</div>
                            <ul class="list-unstyled kitab">
                                <li>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="library-wrapper">
                                                <img class="img-thumbnail" src="~/rwtheme/images/book/cover1.jpg" alt="" />
                                            </div>
                                        </div>
                                        <div class="col-sm-12 book-desc">
                                            <h3>Riba, Gharar & Kaidah Ekonomi Syariah</h3>
                                            <div class="download">
                                                <a href="@Url.Action("SubBuku1","rumahwasathia")"><i class="fas fa-tasks"></i>Lihat Detail</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-sm-4 ">
                                            <div class="library-wrapper">
                                                <img class="img-thumbnail" src="~/rwtheme/images/book/cover2.jpg" alt="" />
                                            </div>
                                        </div>
                                        <div class="col-sm-12 book-desc">
                                            <h3>Maqashid Bisnis & Keuangan Islam</h3>
                                            <div class="download">
                                                <a href="@Url.Action("SubBuku2","rumahwasathia")"><i class="fas fa-tasks"></i>Lihat Detail</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="library-wrapper">
                                                <img class="img-thumbnail" src="~/rwtheme/images/book/cover3.jpg" alt="" />
                                            </div>
                                        </div>
                                        <div class="col-sm-12 book-desc">
                                            <h3>Ushul Fiqh Muamalah</h3>
                                            <div class="download">
                                                <a href="@Url.Action("SubBuku3","rumahwasathia")"><i class="fas fa-tasks"></i>Lihat Detail</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="library-wrapper">
                                                <img class="img-thumbnail" src="~/rwtheme/images/book/cover4.jpg" alt="" />
                                            </div>
                                        </div>
                                        <div class="col-sm-12 book-desc">
                                            <h3>Fikih Muamalah</h3>
                                            <div class="download">
                                                <a href="@Url.Action("SubBuku3","rumahwasathia")"><i class="fas fa-tasks"></i>Lihat Detail</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Second Section Begin -->
    </div>
</div>
<!-- data end -->