
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_RWLayout.cshtml";
}

<!--data start Artikel.cshtml-->
<div class="container blogging-style">
    <div class="row">
        <!-- breadcrumb start -->
        <div class="page-header">
            <ol class="breadcrumb">
                <li><a href="#">Beranda</a></li>
                <li><a href="#">Kajian</a></li>
                <li class="active">Suara</li>
            </ol>
        </div>
        <!-- breadcrumb end -->
        <!-- Kollom artikel Begin -->
        <div class="col-sm-16 banner-outer gapTop">
            <div class="col-sm-16 col-md-10 wow fadeInLeft animated" data-wow-delay="1s" data-wow-offset="50">
                <div class="main-title-outer center-block">
                    <div class="main-title left-side">Rekaman suara</div>
                    <div class="row RekamanKajian">
                        <div class="col-sm-8 col-md-8 pathRekaman">
                            <iframe scrolling="no" frameborder="0" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/357475985&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
                        </div>
                        <div class="col-sm-8 col-md-8 pathRekaman">
                            <iframe scrolling="no" frameborder="0" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/268727142&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
                        </div>
                        <div class="col-sm-8 col-md-8 pathRekaman">
                            <iframe scrolling="no" frameborder="0" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/224844275&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
                        </div>
                        <div class="col-sm-8 col-md-8 pathRekaman">
                            <iframe scrolling="no" frameborder="0" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/292675007&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
                        </div>
                        <div class="col-sm-8 col-md-8 pathRekaman">
                            <iframe scrolling="no" frameborder="0" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/224844275&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
                        </div>
                        <div class="col-sm-8 col-md-8 pathRekaman">
                            <iframe scrolling="no" frameborder="0" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/212773651&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
                        </div>
                        <div class="col-sm-8 col-md-8 pathRekaman">
                            <iframe scrolling="no" frameborder="0" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/413160264&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
                        </div>
                        <div class="col-sm-8 col-md-8 pathRekaman">
                            <iframe scrolling="no" frameborder="0" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/196296200&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-16 text-center">
                            <ul class="pagination">
                                <li><a href="#" class="hidden-xs">Terdahulu</a></li>
                                <li><a href="#">&laquo;</a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">&raquo;</a></li>
                                <li><a href="#" class="hidden-xs">Terbaru</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-16 col-md-6 right-side-style wow fadeInDown animated" data-wow-delay="1s" data-wow-offset="40">
                <div class="row">
                    <div class="col-sm-16">
                        <div class="main-title-outer">
                            <div class="main-title right-side">Perpustakaan</div>
                            <ul class="list-unstyled kitab">
                                <li>
                                    <div class="row">
                                        <div class="col-sm-4"><img class="img-thumbnail" src="~/rwtheme/images/book/cover1.jpg" alt="" /> </div>
                                        <div class="col-sm-12 book-desc">
                                            <h3>Riba, Gharar & Kaidah Ekonomi Syariah</h3>
                                            <div class="download">
                                                <a href="#"><i class="fas fa-tasks"></i>Lihat Detail</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-sm-4 "><img class="img-thumbnail" src="~/rwtheme/images/book/cover2.jpg" alt="" /> </div>
                                        <div class="col-sm-12 book-desc">
                                            <h3>Maqashid Bisnis & Keuangan Islam</h3>
                                            <div class="download">
                                                <a href="#"><i class="fas fa-tasks"></i>Lihat Detail</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-sm-4"><img class="img-thumbnail" src="~/rwtheme/images/book/cover3.jpg" alt="" /> </div>
                                        <div class="col-sm-12 book-desc">
                                            <h3>Ushul Fiqh Muamalah</h3>
                                            <div class="download">
                                                <a href="#"><i class="fas fa-tasks"></i>Lihat Detail</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-sm-4"><img class="img-thumbnail" src="~/rwtheme/images/book/cover4.jpg" alt="" /> </div>
                                        <div class="col-sm-12 book-desc">
                                            <h3>Fikih Muamalah</h3>
                                            <div class="download">
                                                <a href="@Url.Action("SubBuku","rumahwasathia")"><i class="fas fa-tasks"></i>Lihat Detail</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-16">
                        <div class="main-title-outer pull-left">
                            <div class="main-title right-side">Kajian</div>
                            <ul class="list-unstyled kajian">
                                <li>
                                    <a href="#">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6"><img class="img-thumbnail pull-left" src="~/rwtheme/images/sec/sec-1.jpg" width="400" height="300" alt="" /> </div>
                                            <div class="col-md-10 col-sm-10">
                                                <h4>Nielsen forecasts smaller black friday </h4>
                                                <div class="text-danger sub-info">
                                                    <div class="time"><span class="ion-android-data icon"></span>Dec 16 2014</div>
                                                    <div class="comments"><span class="ion-chatbubbles icon"></span>351</div>
                                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6"><img class="img-thumbnail pull-left" src="~/rwtheme/images/sec/sec-2.jpg" width="400" height="300" alt="" /> </div>
                                            <div class="col-md-10 col-sm-10">
                                                <h4>Nielsen forecasts smaller black friday </h4>
                                                <div class="text-danger sub-info">
                                                    <div class="time"><span class="ion-android-data icon"></span>Dec 16 2014</div>
                                                    <div class="comments"><span class="ion-chatbubbles icon"></span>351</div>
                                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6"><img class="img-thumbnail pull-left" src="~/rwtheme/images/sec/sec-3.jpg" width="400" height="300" alt="" /> </div>
                                            <div class="col-md-10 col-sm-10">
                                                <h4>Nielsen forecasts smaller black friday </h4>
                                                <div class="text-danger sub-info">
                                                    <div class="time"><span class="ion-android-data icon"></span>Dec 16 2014</div>
                                                    <div class="comments"><span class="ion-chatbubbles icon"></span>351</div>
                                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6"><img class="img-thumbnail pull-left" src="~/rwtheme/images/sec/sec-4.jpg" width="400" height="300" alt="" /> </div>
                                            <div class="col-md-10 col-sm-10">
                                                <h4>Nielsen forecasts smaller black friday </h4>
                                                <div class="text-danger sub-info">
                                                    <div class="time"><span class="ion-android-data icon"></span>Dec 16 2014</div>
                                                    <div class="comments"><span class="ion-chatbubbles icon"></span>351</div>
                                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6"><img class="img-thumbnail pull-left" src="~/rwtheme/images/sec/sec-5.jpg" width="400" height="300" alt="" /> </div>
                                            <div class="col-md-10 col-sm-10">
                                                <h4>Nielsen forecasts smaller black friday </h4>
                                                <div class="text-danger sub-info">
                                                    <div class="time"><span class="ion-android-data icon"></span>Dec 16 2014</div>
                                                    <div class="comments"><span class="ion-chatbubbles icon"></span>351</div>
                                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Second Section Begin -->
    </div>
</div>
<!-- data end -->