
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_RWLayout.cshtml";
}

<!--data start Artikel.cshtml-->
<div class="container blogging-style">
    <div class="row">
        <!-- breadcrumb start -->
        <div class="page-header">
            <ol class="breadcrumb">
                <li><a href="#">Beranda</a></li>
                <li><a href="#">Kajian</a></li>
                <li><a href="#">Video</a></li>
                <li class="active">Rumahwasathia</li>
            </ol>
        </div>
        <!-- breadcrumb end -->
        <!-- Kolom artikel Begin -->
        <div class="col-sm-16 banner-outer gapTop">
            <div class="row video-wasathia">
                <div class="item topic custom-grid">
                    <iframe src="https://www.youtube.com/embed/N2sE_WJJeHM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="item topic custom-grid">
                    <iframe src="https://www.youtube.com/embed/7_TO7NfwVsE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="item topic custom-grid">
                    <iframe src="https://www.youtube.com/embed/083V4Njtmsk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="item topic custom-grid">
                    <iframe src="https://www.youtube.com/embed/5rcYyusDdHk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="item topic custom-grid">
                    <iframe src="https://www.youtube.com/embed/ASg2un67amU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="item topic custom-grid">
                    <iframe src="https://www.youtube.com/embed/AxSr716O0rE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="item topic custom-grid">
                    <iframe src="https://www.youtube.com/embed/GqCh2wyO_J0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="item topic custom-grid">
                    <iframe src="https://www.youtube.com/embed/TZCHofmT-jg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="item topic custom-grid">
                    <iframe src="https://www.youtube.com/embed/FDIU0GCyNqE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="item topic custom-grid">
                    <iframe src="https://www.youtube.com/embed/S0QswxWoazs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="item topic custom-grid">
                    <iframe src="https://www.youtube.com/embed/oK0_M5pnpqg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="item topic custom-grid">
                    <iframe src="https://www.youtube.com/embed/-EVhTEnfEJs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="item topic custom-grid">
                    <iframe src="https://www.youtube.com/embed/gTpf2BoMZq0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="item topic custom-grid">
                    <iframe src="https://www.youtube.com/embed/QxbyH80YlZk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="item topic custom-grid">
                    <iframe src="https://www.youtube.com/embed/wNlUv40LWRQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="item topic custom-grid">
                    <iframe src="https://www.youtube.com/embed/oPyR7aKwn_8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="item topic custom-grid">
                    <iframe src="https://www.youtube.com/embed/BkY3zK14b4k" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="item topic custom-grid">
                    <iframe src="https://www.youtube.com/embed/7KiO2FjOJkU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="item topic custom-grid">
                    <iframe src="https://www.youtube.com/embed/YleGMu9qILE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="item topic custom-grid">
                    <iframe src="https://www.youtube.com/embed/4E-oEEvw5G8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-16 text-center">
                    <ul class="pagination">
                        <li><a href="#" class="hidden-xs">Terdahulu</a></li>
                        <li><a href="#">&laquo;</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&raquo;</a></li>
                        <li><a href="#" class="hidden-xs">Terbaru</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Second Section Begin -->
    </div>
</div>
<!-- data end -->