
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_RWLayout.cshtml";
}

<!--data start Artikel.cshtml-->
<div class="container blogging-style">
    <div class="row">
        <!-- breadcrumb start -->
        <div class="page-header">
            <ol class="breadcrumb">
                <li><a href="#">Beranda</a></li>
                <li><a href="#">Kajian</a></li>
                <li><a href="#">Video</a></li>
                <li class="active">Muamalah TV</li>
            </ol>
        </div>
        <!-- breadcrumb end -->
        <!-- Kolom artikel Begin -->
        <div class="col-sm-16 banner-outer gapTop">
            <div class="row video-wasathia">
                <div class="item topic custom-grid">
                    <iframe src="https://www.youtube.com/embed/NhCwuonQaMA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="item topic custom-grid">
                    <iframe src="https://www.youtube.com/embed/INK1IvY4WSA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="item topic custom-grid">
                    <iframe src="https://www.youtube.com/embed/HXOy6M8Vedk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="item topic custom-grid">
                    <iframe src="https://www.youtube.com/embed/8bPY1JfdHoo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="item topic custom-grid">
                    <iframe src="https://www.youtube.com/embed/RUaYn6sogWA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="item topic custom-grid">
                    <iframe src="https://www.youtube.com/embed/veSwehsY0-Q" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="item topic custom-grid">
                    <iframe src="https://www.youtube.com/embed/cVsrwXnQytM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="item topic custom-grid">
                    <iframe src="https://www.youtube.com/embed/qggLZOQS87U" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="item topic custom-grid">
                    <iframe src="https://www.youtube.com/embed/Rqe8OWIOm0w" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="item topic custom-grid">
                    <iframe src="https://www.youtube.com/embed/tRlsZGYqc14" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="item topic custom-grid">
                    <iframe src="https://www.youtube.com/embed/qtV6syQ6gAY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="item topic custom-grid">
                    <iframe src="https://www.youtube.com/embed/8BrivQ_Qgm4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="item topic custom-grid">
                    <iframe src="https://www.youtube.com/embed/JckLDRJ1VSE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="item topic custom-grid">
                    <iframe src="https://www.youtube.com/embed/dZeLwE_1pao" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-16 text-center">
                    <ul class="pagination">
                        <li><a href="#" class="hidden-xs">Terdahulu</a></li>
                        <li><a href="#">&laquo;</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&raquo;</a></li>
                        <li><a href="#" class="hidden-xs">Terbaru</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Second Section Begin -->
    </div>
</div>
<!-- data end -->