
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_RWLayout.cshtml";
}

<!--data start Artikel.cshtml-->
<div class="container blogging-style">
    <div class="row">
        <!-- breadcrumb start -->
        <div class="page-header">
            <ol class="breadcrumb">
                <li><a href="#">Beranda</a></li>
                <li><a href="#">Tanya Jawab</a></li>
                <li class="active">Konsultasi Republika</li>
            </ol>
        </div>
        <!-- breadcrumb end -->
        <!-- Kolom artikel Begin -->
        <div class="col-sm-16 banner-outer gapTop">
            <div class="row text-center">
                <!-- gallery start -->
                <div class="gallery">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="col-md-16">
                                <a class="gallery-item popup-img" href="~/rwtheme/images/e-paper/4. Jual Beli Melalui Market Place.jpeg">
                                    <div class="thumb-box">
                                        <span class="ion-arrow-expand"></span>
                                        <img width="1600" height="972" alt="" src="~/rwtheme/images/e-paper/4. Jual Beli Melalui Market Place.jpeg" class="img-thumbnail">
                                    </div>
                                    <div class="album-desc">Jual Beli Melalui Market Place</div>
                                </a>
                            </div>
                            <div class="col-md-16">
                                <a class="gallery-item popup-img" href="~/rwtheme/images/e-paper/17. murabahah bank syariah.jpg">
                                    <div class="thumb-box">
                                        <span class="ion-arrow-expand"></span>
                                        <img width="1600" height="972" alt="" src="~/rwtheme/images/e-paper/17. murabahah bank syariah.jpg" class="img-thumbnail">
                                    </div>
                                    <div class="album-desc">Murabahah bank syariah</div>
                                </a>
                            </div>
                            <div class="col-md-16">
                                <a class="gallery-item popup-img" href="~/rwtheme/images/e-paper/18. wakaf produktif.jpg">
                                    <div class="thumb-box">
                                        <span class="ion-arrow-expand"></span>
                                        <img width="1600" height="972" alt="" src="~/rwtheme/images/e-paper/18. wakaf produktif.jpg" class="img-thumbnail">
                                    </div>
                                    <div class="album-desc">Wakaf produktif</div>
                                </a>
                            </div>
                            <div class="col-md-16">
                                <a class="gallery-item popup-img" href="~/rwtheme/images/e-paper/19. wakaf uang dan wakaf melalui uang.jpg">
                                    <div class="thumb-box">
                                        <span class="ion-arrow-expand"></span>
                                        <img width="1600" height="972" alt="" src="~/rwtheme/images/e-paper/19. wakaf uang dan wakaf melalui uang.jpg" class="img-thumbnail">
                                    </div>
                                    <div class="album-desc">Wakaf uang dan wakaf melalui uang</div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="col-md-16">
                                <a class="gallery-item popup-img" href="~/rwtheme/images/e-paper/1. Perjalanan Dinas yang dipersingkat.jpg">
                                    <div class="thumb-box">
                                        <span class="ion-arrow-expand"></span>
                                        <img width="1600" height="972" alt="" src="~/rwtheme/images/e-paper/1. Perjalanan Dinas yang dipersingkat.jpg" class="img-thumbnail">
                                    </div>
                                    <div class="album-desc">Perjalanan Dinas yang dipersingkat</div>
                                </a>
                            </div>
                            <div class="col-md-16">
                                <a class="gallery-item popup-img" href="~/rwtheme/images/e-paper/2. Bisnis Reseller.jpg">
                                    <div class="thumb-box">
                                        <span class="ion-arrow-expand"></span>
                                        <img width="1600" height="972" alt="" src="~/rwtheme/images/e-paper/2. Bisnis Reseller.jpg" class="img-thumbnail">
                                    </div>
                                    <div class="album-desc">Bisnis Reseller</div>
                                </a>
                            </div>
                            <div class="col-md-16">
                                <a class="gallery-item popup-img" href="~/rwtheme/images/e-paper/3. Dropship.jpeg">
                                    <div class="thumb-box">
                                        <span class="ion-arrow-expand"></span>
                                        <img width="1600" height="972" alt="" src="~/rwtheme/images/e-paper/3. Dropship.jpeg" class="img-thumbnail">
                                    </div>
                                    <div class="album-desc">Dropship</div>
                                </a>
                            </div>
                            <div class="col-md-16">
                                <a class="gallery-item popup-img" href="~/rwtheme/images/e-paper/5. Bitcoin.jpeg">
                                    <div class="thumb-box">
                                        <span class="ion-arrow-expand"></span>
                                        <img width="1600" height="972" alt="" src="~/rwtheme/images/e-paper/5. Bitcoin.jpeg" class="img-thumbnail">
                                    </div>
                                    <div class="album-desc">Bitcoin</div>
                                </a>
                            </div>
                            <div class="col-md-16">
                                <a class="gallery-item popup-img" href="~/rwtheme/images/e-paper/6. Top Up dan Transfer Saldo Jasa Transportasi Online.jpeg">
                                    <div class="thumb-box">
                                        <span class="ion-arrow-expand"></span>
                                        <img width="1600" height="972" alt="" src="~/rwtheme/images/e-paper/6. Top Up dan Transfer Saldo Jasa Transportasi Online.jpeg" class="img-thumbnail">
                                    </div>
                                    <div class="album-desc">Top Up dan Transfer Saldo Jasa Transportasi Online</div>
                                </a>
                            </div>
                            <div class="col-md-16">
                                <a class="gallery-item popup-img" href="~/rwtheme/images/e-paper/7. Belanja dengan kartu diskon.jpeg">
                                    <div class="thumb-box">
                                        <span class="ion-arrow-expand"></span>
                                        <img width="1600" height="972" alt="" src="~/rwtheme/images/e-paper/8. Bekerja di usaha yg tidak halal.jpg" class="img-thumbnail">
                                    </div>
                                    <div class="album-desc">Belanja dengan kartu diskon</div>
                                </a>
                            </div>
                            <div class="col-md-16">
                                <a class="gallery-item popup-img" href="~/rwtheme/images/e-paper/9. jual beli emas.jpg">
                                    <div class="thumb-box">
                                        <span class="ion-arrow-expand"></span>
                                        <img width="1600" height="972" alt="" src="~/rwtheme/images/e-paper/9. jual beli emas.jpg" class="img-thumbnail">
                                    </div>
                                    <div class="album-desc">Jual beli emas</div>
                                </a>
                            </div>
                            <div class="col-md-16">
                                <a class="gallery-item popup-img" href="~/rwtheme/images/e-paper/10. denda keterlambatan.jpg">
                                    <div class="thumb-box">
                                        <span class="ion-arrow-expand"></span>
                                        <img width="1600" height="972" alt="" src="~/rwtheme/images/e-paper/11. Pesan Makan Via Ojek Daring.jpeg" class="img-thumbnail">
                                    </div>
                                    <div class="album-desc">Denda keterlambatan</div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-16">
                            <div class="col-md-16">
                                <a class="gallery-item popup-img" href="~/rwtheme/images/e-paper/12. zakat profesi.jpg">
                                    <div class="thumb-box">
                                        <span class="ion-arrow-expand"></span>
                                        <img width="1600" height="972" alt="" src="~/rwtheme/images/e-paper/12. zakat profesi.jpg" class="img-thumbnail">
                                    </div>
                                    <div class="album-desc">Zakat profesi</div>
                                </a>
                            </div>
                            <div class="col-md-16">
                                <a class="gallery-item popup-img" href="~/rwtheme/images/e-paper/13. Fikih Uang Muka.jpg">
                                    <div class="thumb-box">
                                        <span class="ion-arrow-expand"></span>
                                        <img width="1600" height="972" alt="" src="~/rwtheme/images/e-paper/13. Fikih Uang Muka.jpg" class="img-thumbnail">
                                    </div>
                                    <div class="album-desc">Fikih Uang Muka</div>
                                </a>
                            </div>
                            <div class="col-md-16">
                                <a class="gallery-item popup-img" href="~/rwtheme/images/e-paper/14. tarif zakat profesi.jpg">
                                    <div class="thumb-box">
                                        <span class="ion-arrow-expand"></span>
                                        <img width="1600" height="972" alt="" src="~/rwtheme/images/e-paper/14. tarif zakat profesi.jpg" class="img-thumbnail">
                                    </div>
                                    <div class="album-desc">Tarif zakat profesi</div>
                                </a>
                            </div>
                            <div class="col-md-16">
                                <a class="gallery-item popup-img" href="~/rwtheme/images/e-paper/15. Jual beli mata uang.jpg">
                                    <div class="thumb-box">
                                        <span class="ion-arrow-expand"></span>
                                        <img width="1600" height="972" alt="" src="~/rwtheme/images/e-paper/15. Jual beli mata uang.jpg" class="img-thumbnail">
                                    </div>
                                    <div class="album-desc">Jual beli mata uang</div>
                                </a>
                            </div>
                            <div class="col-md-16">
                                <a class="gallery-item popup-img" href="~/rwtheme/images/e-paper/16. Maksimal keuntungan.jpg">
                                    <div class="thumb-box">
                                        <span class="ion-arrow-expand"></span>
                                        <img width="1600" height="972" alt="" src="~/rwtheme/images/e-paper/16. Maksimal keuntungan.jpg" class="img-thumbnail">
                                    </div>
                                    <div class="album-desc">Maksimal keuntungan</div>
                                </a>
                            </div>
                            <div class="col-md-16">
                                <a class="gallery-item popup-img" href="~/rwtheme/images/e-paper/20. Jaminan dalam akad mudharabah.jpg">
                                    <div class="thumb-box">
                                        <span class="ion-arrow-expand"></span>
                                        <img width="1600" height="972" alt="" src="~/rwtheme/images/e-paper/20. Jaminan dalam akad mudharabah.jpg" class="img-thumbnail">
                                    </div>
                                    <div class="album-desc">Jaminan dalam akad mudharabah</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- gallery end -->
            </div>
        </div>
    </div>
</div>
<!-- data end -->