
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_RWLayout.cshtml";
}

<!--data start Artikel.cshtml-->
<div class="container blogging-style">
    <div class="row">
        <!-- breadcrumb start -->
        <div class="page-header">
            <ol class="breadcrumb">
                <li><a href="#">Beranda</a></li>
                <li><a href="#">Kajian</a></li>
                <li class="active">Video</li>
            </ol>
        </div>
        <!-- breadcrumb end -->
        <!-- Kolom artikel Begin -->
        <div class="col-sm-16 banner-outer gapTop">
            <div class="col-sm-16 col-md-10 wow fadeInLeft animated custom" data-wow-delay="1s" data-wow-offset="50">
                <div class="main-title-outer center-block">
                    <div class="main-title left-side">Kumpulan Video Kajian</div>
                    <div class="row fiqih">
                        <div class="item topic col-sm-8 col-xs-16">
                            <iframe src="https://www.youtube.com/embed/34YT7UFEe2M" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                        <div class="item topic col-sm-8 col-xs-16">
                            <iframe width="320" height="200" src="https://www.youtube.com/embed/Eg80YG34Yfw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                        <div class="item topic col-sm-8 col-xs-16">
                            <iframe width="320" height="200" src="https://www.youtube.com/embed/q2gUDKuS05U" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                        <div class="item topic col-sm-8 col-xs-16">
                            <iframe width="320" height="200" src="https://www.youtube.com/embed/9HZHN8EShOc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                        <div class="item topic col-sm-8 col-xs-16">
                            <iframe width="320" height="200" src="https://www.youtube.com/embed/GqoTpTXznOM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                        <div class="item topic col-sm-8 col-xs-16">
                            <iframe width="320" height="200" src="https://www.youtube.com/embed/59za8zvjxFU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                        <div class="item topic col-sm-8 col-xs-16">
                            <iframe width="320" height="200" src="https://www.youtube.com/embed/EV_2JxT1t8A" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                        <div class="item topic col-sm-8 col-xs-16">
                            <iframe width="320" height="200" src="https://www.youtube.com/embed/18dxQExNg7o" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                        <div class="item topic col-sm-8 col-xs-16">
                            <iframe width="320" height="200" src="https://www.youtube.com/embed/u4l0pbygs8g" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                        <div class="item topic col-sm-8 col-xs-16">
                            <iframe width="320" height="200" src="https://www.youtube.com/embed/9LzmRZi7mn0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-16 text-center">
                            <ul class="pagination">
                                <li><a href="#">Terdahulu</a></li>
                                <li><a href="#">&laquo;</a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">&raquo;</a></li>
                                <li><a href="#">Terbaru</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-16 col-md-6 right-side-style wow fadeInDown animated" data-wow-delay="1s" data-wow-offset="40">
                <div class="row">
                    <div class="col-sm-16">
                        <div class="main-title-outer">
                            <div class="main-title right-side">Perpustakaan</div>
                            <ul class="list-unstyled kitab">
                                <li>
                                    <div class="row">
                                        <div class="col-sm-4"><img class="img-thumbnail" src="~/rwtheme/images/book/bookCover1.jpg" alt="" /> </div>
                                        <div class="col-sm-12 book-desc">
                                            <h3>Out of The box</h3>
                                            <div class="download">
                                                <a href="#"><i class="fas fa-cloud-download-alt"></i>Download PDF</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-sm-4 "><img class="img-thumbnail" src="~/rwtheme/images/book/bookCover2.jpg" alt="" /> </div>
                                        <div class="col-sm-12 book-desc">
                                            <h3>Take Back Your Time</h3>
                                            <div class="download">
                                                <a href="#"><i class="fas fa-cloud-download-alt"></i>Download PDF</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-sm-4"><img class="img-thumbnail" src="~/rwtheme/images/book/bookCover3.jpg" alt="" /> </div>
                                        <div class="col-sm-12 book-desc">
                                            <h3>You're Hired!</h3>
                                            <div class="download">
                                                <a href="#"><i class="fas fa-cloud-download-alt"></i>Download PDF</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-sm-4"><img class="img-thumbnail" src="~/rwtheme/images/book/bookCover1.jpg" alt="" /> </div>
                                        <div class="col-sm-12 book-desc">
                                            <h3>The Grow Girl</h3>
                                            <div class="download">
                                                <a href="#"><i class="fas fa-cloud-download-alt"></i>Download PDF</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-16">
                        <div class="main-title-outer pull-left">
                            <div class="main-title right-side">Artikel Terbaru</div>
                            <ul class="list-unstyled kajian">
                                <li>
                                    <a href="#">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6"><img class="img-thumbnail pull-left" src="~/rwtheme/images/sec/sec-1.jpg" width="400" height="300" alt="" /> </div>
                                            <div class="col-md-10 col-sm-10">
                                                <h4>Nielsen forecasts smaller black friday </h4>
                                                <div class="text-danger sub-info">
                                                    <div class="time"><span class="ion-android-data icon"></span>Dec 16 2014</div>
                                                    <div class="comments"><span class="ion-chatbubbles icon"></span>351</div>
                                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6"><img class="img-thumbnail pull-left" src="~/rwtheme/images/sec/sec-2.jpg" width="400" height="300" alt="" /> </div>
                                            <div class="col-md-10 col-sm-10">
                                                <h4>Nielsen forecasts smaller black friday </h4>
                                                <div class="text-danger sub-info">
                                                    <div class="time"><span class="ion-android-data icon"></span>Dec 16 2014</div>
                                                    <div class="comments"><span class="ion-chatbubbles icon"></span>351</div>
                                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6"><img class="img-thumbnail pull-left" src="~/rwtheme/images/sec/sec-3.jpg" width="400" height="300" alt="" /> </div>
                                            <div class="col-md-10 col-sm-10">
                                                <h4>Nielsen forecasts smaller black friday </h4>
                                                <div class="text-danger sub-info">
                                                    <div class="time"><span class="ion-android-data icon"></span>Dec 16 2014</div>
                                                    <div class="comments"><span class="ion-chatbubbles icon"></span>351</div>
                                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6"><img class="img-thumbnail pull-left" src="~/rwtheme/images/sec/sec-4.jpg" width="400" height="300" alt="" /> </div>
                                            <div class="col-md-10 col-sm-10">
                                                <h4>Nielsen forecasts smaller black friday </h4>
                                                <div class="text-danger sub-info">
                                                    <div class="time"><span class="ion-android-data icon"></span>Dec 16 2014</div>
                                                    <div class="comments"><span class="ion-chatbubbles icon"></span>351</div>
                                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6"><img class="img-thumbnail pull-left" src="~/rwtheme/images/sec/sec-5.jpg" width="400" height="300" alt="" /> </div>
                                            <div class="col-md-10 col-sm-10">
                                                <h4>Nielsen forecasts smaller black friday </h4>
                                                <div class="text-danger sub-info">
                                                    <div class="time"><span class="ion-android-data icon"></span>Dec 16 2014</div>
                                                    <div class="comments"><span class="ion-chatbubbles icon"></span>351</div>
                                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Second Section Begin -->
    </div>
</div>
<!-- data end -->