
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_RWLayout.cshtml";
}

<!--data start galeri.cshtml-->
<div class="container blogging-style">
    <div class="row">
        <!-- breadcrumb start -->
        <div class="page-header">
            <ol class="breadcrumb">
                <li><a href="#">Beranda</a></li>
                <li><a href="#">Galeri</a></li>
                <li class="active">Rumahwasathia</li>
            </ol>
        </div>
        <!-- breadcrumb end -->
        <!-- Masonry Begin -->
        <div class="masonry-wrapper">
            <div class="masonry text-center">
                <div class="item">
                    <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/d/d (1).jpeg">
                        <div class="thumb-box">
                            <span class="ion-arrow-expand"></span>
                            <img alt="" src="~/rwtheme/images/galeri/d/d (2).jpeg" class="img-thumbnail">
                        </div>
                        <div class="album-desc">Mudzakarah Maybank 20171120 di Malaysia</div>
                    </a>
                </div>
                <div class="item">
                    <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/d/d (2).jpeg">
                        <div class="thumb-box">
                            <span class="ion-arrow-expand"></span>
                            <img alt="" src="~/rwtheme/images/galeri/d/d (2).jpeg" class="img-thumbnail">
                        </div>
                        <div class="album-desc">Mudzakarah Maybank 20171120 di Malaysia</div>
                    </a>
                </div>
                <div class="item">
                    <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/d/d (3).jpeg">
                        <div class="thumb-box">
                            <span class="ion-arrow-expand"></span>
                            <img alt="" src="~/rwtheme/images/galeri/d/d (3).jpeg" class="img-thumbnail">
                        </div>
                        <div class="album-desc">Mudzakarah Maybank 20171120 di Malaysia</div>
                    </a>
                </div>
                <div class="item">
                    <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/d/d (4).jpeg">
                        <div class="thumb-box">
                            <span class="ion-arrow-expand"></span>
                            <img alt="" src="~/rwtheme/images/galeri/d/d (4).jpeg" class="img-thumbnail">
                        </div>
                        <div class="album-desc">Mudzakarah Maybank 20171120 di Malaysia</div>
                    </a>
                </div>
                <div class="item">
                    <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/d/d (5).jpeg">
                        <div class="thumb-box">
                            <span class="ion-arrow-expand"></span>
                            <img alt="" src="~/rwtheme/images/galeri/d/d (5).jpeg" class="img-thumbnail">
                        </div>
                        <div class="album-desc">Mudzakarah Maybank 20171120 di Malaysia</div>
                    </a>
                </div>
                <div class="item">
                    <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/d/d (6).jpeg">
                        <div class="thumb-box">
                            <span class="ion-arrow-expand"></span>
                            <img alt="" src="~/rwtheme/images/galeri/d/d (6).jpeg" class="img-thumbnail">
                        </div>
                        <div class="album-desc">Mudzakarah Maybank 20171120 di Malaysia</div>
                    </a>
                </div>
                <div class="item">
                    <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/d/d (7).jpeg">
                        <div class="thumb-box">
                            <span class="ion-arrow-expand"></span>
                            <img alt="" src="~/rwtheme/images/galeri/d/d (7).jpeg" class="img-thumbnail">
                        </div>
                        <div class="album-desc">Mudzakarah Maybank 20171120 di Malaysia</div>
                    </a>
                </div>
                <div class="item">
                    <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/d/d (8).jpeg">
                        <div class="thumb-box">
                            <span class="ion-arrow-expand"></span>
                            <img alt="" src="~/rwtheme/images/galeri/d/d (8).jpeg" class="img-thumbnail">
                        </div>
                        <div class="album-desc">Mudzakarah Maybank 20171120 di Malaysia</div>
                    </a>
                </div>
                <div class="item">
                    <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/d/d (9).jpeg">
                        <div class="thumb-box">
                            <span class="ion-arrow-expand"></span>
                            <img alt="" src="~/rwtheme/images/galeri/d/d (9).jpeg" class="img-thumbnail">
                        </div>
                        <div class="album-desc">Mudzakarah Maybank 20171120 di Malaysia</div>
                    </a>
                </div>
                <div class="item">
                    <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/d/d (10).jpeg">
                        <div class="thumb-box">
                            <span class="ion-arrow-expand"></span>
                            <img alt="" src="~/rwtheme/images/galeri/d/d (10).jpeg" class="img-thumbnail">
                        </div>
                        <div class="album-desc">Mudzakarah Maybank 20171120 di Malaysia</div>
                    </a>
                </div>
                <div class="item">
                    <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/d/d (11).jpeg">
                        <div class="thumb-box">
                            <span class="ion-arrow-expand"></span>
                            <img alt="" src="~/rwtheme/images/galeri/d/d (11).jpeg" class="img-thumbnail">
                        </div>
                        <div class="album-desc">Mudzakarah Maybank 20171120 di Malaysia</div>
                    </a>
                </div>
                <div class="item">
                    <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/d/d (12).jpeg">
                        <div class="thumb-box">
                            <span class="ion-arrow-expand"></span>
                            <img alt="" src="~/rwtheme/images/galeri/d/d (12).jpeg" class="img-thumbnail">
                        </div>
                        <div class="album-desc">Mudzakarah Maybank 20171120 di Malaysia</div>
                    </a>
                </div>
                <div class="item">
                    <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/e/e (1).jpg">
                        <div class="thumb-box">
                            <span class="ion-arrow-expand"></span>
                            <img alt="" src="~/rwtheme/images/galeri/e/e (1).jpg" class="img-thumbnail">
                        </div>
                        <div class="album-desc">Kajian Bandung</div>
                    </a>
                </div>
                <div class="item">
                    <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/e/e (2).jpg">
                        <div class="thumb-box">
                            <span class="ion-arrow-expand"></span>
                            <img alt="" src="~/rwtheme/images/galeri/e/e (2).jpg" class="img-thumbnail">
                        </div>
                        <div class="album-desc">Kajian Bandung</div>
                    </a>
                </div>
                <div class="item">
                    <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/e/e (3).jpg">
                        <div class="thumb-box">
                            <span class="ion-arrow-expand"></span>
                            <img alt="" src="~/rwtheme/images/galeri/e/e (3).jpg" class="img-thumbnail">
                        </div>
                        <div class="album-desc">Kajian Bandung</div>
                    </a>
                </div>
                <div class="item">
                    <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/e/e (4).jpg">
                        <div class="thumb-box">
                            <span class="ion-arrow-expand"></span>
                            <img alt="" src="~/rwtheme/images/galeri/e/e (4).jpg" class="img-thumbnail">
                        </div>
                        <div class="album-desc">Kajian Bandung</div>
                    </a>
                </div>
                <div class="item">
                    <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/e/e (5).jpg">
                        <div class="thumb-box">
                            <span class="ion-arrow-expand"></span>
                            <img alt="" src="~/rwtheme/images/galeri/e/e (5).jpg" class="img-thumbnail">
                        </div>
                        <div class="album-desc">Kajian Bandung</div>
                    </a>
                </div>
                <div class="item">
                    <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/e/e (6).jpg">
                        <div class="thumb-box">
                            <span class="ion-arrow-expand"></span>
                            <img alt="" src="~/rwtheme/images/galeri/e/e (6).jpg" class="img-thumbnail">
                        </div>
                        <div class="album-desc">Kajian Bandung</div>
                    </a>
                </div>
            </div>
        </div>
        <!-- Masonry End -->
    </div>
</div>
<!-- data end -->