
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_RWLayout.cshtml";
}

<!--data start galeri.cshtml-->
<div class="container blogging-style">
    <div class="row">
        <!-- breadcrumb start -->
        <div class="page-header">
            <ol class="breadcrumb">
                <li><a href="#">Beranda</a></li>
                <li class="active">Galeri</li>
            </ol>
        </div>
        <!-- breadcrumb end -->
        <!-- Kolom galeri Begin -->
        <div class="col-sm-16 banner-outer gapTop">
            <div class="col-sm-16 col-md-16 wow fadeInLeft animated" data-wow-delay="1s" data-wow-offset="50">
                <div class="main-title-outer center-block">
                    <div class="main-title left-side">Galeri</div>
                    <div class="row galeri-size text-center">
                        <!-- gallery start -->
                        <div class="gallery">
                            <div class="col-lg-5 wow fadeInDown animated ">
                                <div>
                                    <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/galeri(1).jpg">
                                        <div class="thumb-box">
                                            <span class="ion-arrow-expand"></span>
                                            <img width="1600" height="972" alt="" src="~/rwtheme/images/galeri/galeri(1).jpg" class="img-thumbnail">
                                        </div>
                                        <div class="album-desc">Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-5 wow fadeInDown animated ">
                                <div>
                                    <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/galeri(1).jpg">
                                        <div class="thumb-box">
                                            <span class="ion-arrow-expand"></span>
                                            <img width="1600" height="972" alt="" src="~/rwtheme/images/galeri/galeri(1).jpg" class="img-thumbnail">
                                        </div>
                                        <div class="album-desc">Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-5 wow fadeInDown animated ">
                                <div>
                                    <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/galeri(1).jpg">
                                        <div class="thumb-box">
                                            <span class="ion-arrow-expand"></span>
                                            <img width="1600" height="972" alt="" src="~/rwtheme/images/galeri/galeri(1).jpg" class="img-thumbnail">
                                        </div>
                                        <div class="album-desc">Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- gallery end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Second Section Begin -->
    </div>
</div>
<!-- data end -->