
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_RWLayout.cshtml";
}

<!--data start galeri.cshtml-->
<div class="container blogging-style">
    <div class="row">
        <!-- breadcrumb start -->
        <div class="page-header">
            <ol class="breadcrumb">
                <li><a href="#">Beranda</a></li>
                <li><a href="#">Galeri</a></li>
                <li class="active">Kegiatan Ust Oni</li>
            </ol>
        </div>
        <!-- breadcrumb end -->
        <!-- Masonry Begin -->
        <div class="masonry-wrapper">
            <div class="masonry text-center">
                <div class="item">
                    <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/a/a (2).jpg">
                        <div class="thumb-box">
                            <span class="ion-arrow-expand"></span>
                            <img alt="" src="~/rwtheme/images/galeri/a/a (2).jpg" class="img-thumbnail">
                        </div>
                        <div class="album-desc">Kajian Bandung</div>
                    </a>
                </div>
                <div class="item">
                    <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/a/a (1).jpg">
                        <div class="thumb-box">
                            <span class="ion-arrow-expand"></span>
                            <img alt="" src="~/rwtheme/images/galeri/a/a (1).jpg" class="img-thumbnail">
                        </div>
                        <div class="album-desc">Kajian Bandung</div>
                    </a>
                </div>
                <div class="item">
                    <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/a/a (3).jpg">
                        <div class="thumb-box">
                            <span class="ion-arrow-expand"></span>
                            <img alt="" src="~/rwtheme/images/galeri/a/a (3).jpg" class="img-thumbnail">
                        </div>
                        <div class="album-desc">Kajian Bandung</div>
                    </a>
                </div>
                <div class="item">
                    <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/a/a (4).jpg">
                        <div class="thumb-box">
                            <span class="ion-arrow-expand"></span>
                            <img alt="" src="~/rwtheme/images/galeri/a/a (4).jpg" class="img-thumbnail">
                        </div>
                        <div class="album-desc">Kajian Bandung</div>
                    </a>
                </div>
                <div class="item">
                    <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/a/a (5).jpg">
                        <div class="thumb-box">
                            <span class="ion-arrow-expand"></span>
                            <img alt="" src="~/rwtheme/images/galeri/a/a (5).jpg" class="img-thumbnail">
                        </div>
                        <div class="album-desc">Kajian Bandung</div>
                    </a>
                </div>
                <div class="item">
                    <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/a/a (6).jpg">
                        <div class="thumb-box">
                            <span class="ion-arrow-expand"></span>
                            <img alt="" src="~/rwtheme/images/galeri/a/a (6).jpg" class="img-thumbnail">
                        </div>
                        <div class="album-desc">Kajian Bandung</div>
                    </a>
                </div>
                <div class="item">
                    <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/a/a (7).jpg">
                        <div class="thumb-box">
                            <span class="ion-arrow-expand"></span>
                            <img alt="" src="~/rwtheme/images/galeri/a/a (7).jpg" class="img-thumbnail">
                        </div>
                        <div class="album-desc">Kajian Bandung</div>
                    </a>
                </div>
                <div class="item">
                    <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/a/a (8).jpg">
                        <div class="thumb-box">
                            <span class="ion-arrow-expand"></span>
                            <img alt="" src="~/rwtheme/images/galeri/a/a (8).jpg" class="img-thumbnail">
                        </div>
                        <div class="album-desc">Kajian Bandung</div>
                    </a>
                </div>
                <div class="item">
                    <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/a/a (9).jpg">
                        <div class="thumb-box">
                            <span class="ion-arrow-expand"></span>
                            <img alt="" src="~/rwtheme/images/galeri/a/a (9).jpg" class="img-thumbnail">
                        </div>
                        <div class="album-desc">Kajian Bandung</div>
                    </a>
                </div>
                <div class="item">
                    <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/a/a (10).jpg">
                        <div class="thumb-box">
                            <span class="ion-arrow-expand"></span>
                            <img alt="" src="~/rwtheme/images/galeri/a/a (10).jpg" class="img-thumbnail">
                        </div>
                        <div class="album-desc">Kajian Bandung</div>
                    </a>
                </div>
                <div class="item">
                    <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/a/a (11).jpg">
                        <div class="thumb-box">
                            <span class="ion-arrow-expand"></span>
                            <img alt="" src="~/rwtheme/images/galeri/a/a (11).jpg" class="img-thumbnail">
                        </div>
                        <div class="album-desc">Kajian Bandung</div>
                    </a>
                </div>
                <div class="item">
                    <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/a/a (12).jpg">
                        <div class="thumb-box">
                            <span class="ion-arrow-expand"></span>
                            <img alt="" src="~/rwtheme/images/galeri/a/a (12).jpg" class="img-thumbnail">
                        </div>
                        <div class="album-desc">Kajian Bandung</div>
                    </a>
                </div>
                <div class="item">
                    <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/a/a (13).jpg">
                        <div class="thumb-box">
                            <span class="ion-arrow-expand"></span>
                            <img alt="" src="~/rwtheme/images/galeri/a/a (13).jpg" class="img-thumbnail">
                        </div>
                        <div class="album-desc">Kajian Bandung</div>
                    </a>
                </div>
                <div class="item">
                    <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/a/a (14).jpg">
                        <div class="thumb-box">
                            <span class="ion-arrow-expand"></span>
                            <img alt="" src="~/rwtheme/images/galeri/a/a (14).jpg" class="img-thumbnail">
                        </div>
                        <div class="album-desc">Kajian Bandung</div>
                    </a>
                </div>
                <div class="item">
                    <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/a/a (15).jpg">
                        <div class="thumb-box">
                            <span class="ion-arrow-expand"></span>
                            <img alt="" src="~/rwtheme/images/galeri/a/a (15).jpg" class="img-thumbnail">
                        </div>
                        <div class="album-desc">Kajian Bandung</div>
                    </a>
                </div>
                <div class="item">
                    <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/a/a (16).jpg">
                        <div class="thumb-box">
                            <span class="ion-arrow-expand"></span>
                            <img alt="" src="~/rwtheme/images/galeri/a/a (16).jpg" class="img-thumbnail">
                        </div>
                        <div class="album-desc">Kajian Bandung</div>
                    </a>
                </div>
                <div class="item">
                    <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/a/a (17).jpg">
                        <div class="thumb-box">
                            <span class="ion-arrow-expand"></span>
                            <img alt="" src="~/rwtheme/images/galeri/a/a (17).jpg" class="img-thumbnail">
                        </div>
                        <div class="album-desc">Kajian Bandung</div>
                    </a>
                </div>
            </div>
        </div>
        <!-- Masonry End -->
    </div>
</div>
<!-- data end -->