
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_RWLayout.cshtml";
}

<!--data start galeri.cshtml-->
<div class="container blogging-style">
    <div class="row">
        <!-- breadcrumb start -->
        <div class="page-header">
            <ol class="breadcrumb">
                <li><a href="#">Beranda</a></li>
                <li><a href="#">Galeri</a></li>
                <li class="active">Kegiatan Ust Oni</li>
            </ol>
        </div>
        <!-- breadcrumb end -->
        <!-- Kolom galeri Begin -->
        <div class="col-sm-16 banner-outer gapTop">
            <div class="col-sm-16 col-md-16 wow fadeInLeft animated" data-wow-delay="1s" data-wow-offset="50">
                <div class="row galeri-size text-center">
                    <!-- gallery start -->
                    <div class="gallery">
                        <div class="col-lg-4 col-md-8">
                            <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/b/b1.jpg">
                                <div class="thumb-box">
                                    <span class="ion-arrow-expand"></span>
                                    <img width="1600" height="972" alt="" src="~/rwtheme/images/galeri/b/b1.jpg" class="img-thumbnail">
                                </div>
                                <div class="album-desc">Kajian Dzuhur BMM 20180321 di Masjid Baitussalam</div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-8">
                            <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/b/b2.jpg">
                                <div class="thumb-box">
                                    <span class="ion-arrow-expand"></span>
                                    <img width="1600" height="972" alt="" src="~/rwtheme/images/galeri/b/b2.jpg" class="img-thumbnail">
                                </div>
                                <div class="album-desc">Kajian Dzuhur BMM 20180321 di Masjid Baitussalam</div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-8">
                            <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/b/b3.jpg">
                                <div class="thumb-box">
                                    <span class="ion-arrow-expand"></span>
                                    <img width="1600" height="972" alt="" src="~/rwtheme/images/galeri/b/b3.jpg" class="img-thumbnail">
                                </div>
                                <div class="album-desc">Kajian Dzuhur BMM 20180321 di Masjid Baitussalam</div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-8">
                            <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/b/b4.jpg">
                                <div class="thumb-box">
                                    <span class="ion-arrow-expand"></span>
                                    <img width="1600" height="972" alt="" src="~/rwtheme/images/galeri/b/b4.jpg" class="img-thumbnail">
                                </div>
                                <div class="album-desc">Kajian Dzuhur BMM 20180321 di Masjid Baitussalam</div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-8">
                            <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/b/b5.jpg">
                                <div class="thumb-box">
                                    <span class="ion-arrow-expand"></span>
                                    <img width="1600" height="972" alt="" src="~/rwtheme/images/galeri/b/b5.jpg" class="img-thumbnail">
                                </div>
                                <div class="album-desc">Kajian Dzuhur BMM 20180321 di Masjid Baitussalam</div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-8">
                            <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/c/IMG-20170106-WA0012.jpg">
                                <div class="thumb-box">
                                    <span class="ion-arrow-expand"></span>
                                    <img width="1600" height="972" alt="" src="~/rwtheme/images/galeri/c/IMG-20170106-WA0012.jpg" class="img-thumbnail">
                                </div>
                                <div class="album-desc">Kajian Pendidik Sejati, Datuk DR Daud Bakar - STEI SEBI</div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-8">
                            <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/c/IMG-20170106-WA0013.jpg">
                                <div class="thumb-box">
                                    <span class="ion-arrow-expand"></span>
                                    <img width="1600" height="972" alt="" src="~/rwtheme/images/galeri/c/IMG-20170106-WA0013.jpg" class="img-thumbnail">
                                </div>
                                <div class="album-desc">Kajian Pendidik Sejati, Datuk DR Daud Bakar - STEI SEBI</div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-8">
                            <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/c/IMG-20170106-WA0014.jpg">
                                <div class="thumb-box">
                                    <span class="ion-arrow-expand"></span>
                                    <img width="1600" height="972" alt="" src="~/rwtheme/images/galeri/c/IMG-20170106-WA0014.jpg" class="img-thumbnail">
                                </div>
                                <div class="album-desc">Kajian Pendidik Sejati, Datuk DR Daud Bakar - STEI SEBI</div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-8">
                            <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/c/IMG-20170106-WA0015.jpg">
                                <div class="thumb-box">
                                    <span class="ion-arrow-expand"></span>
                                    <img width="1600" height="972" alt="" src="~/rwtheme/images/galeri/c/IMG-20170106-WA0015.jpg" class="img-thumbnail">
                                </div>
                                <div class="album-desc">Kajian Pendidik Sejati, Datuk DR Daud Bakar - STEI SEBI</div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-8">
                            <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/c/IMG-20170106-WA0016.jpg">
                                <div class="thumb-box">
                                    <span class="ion-arrow-expand"></span>
                                    <img width="1600" height="972" alt="" src="~/rwtheme/images/galeri/c/IMG-20170106-WA0016.jpg" class="img-thumbnail">
                                </div>
                                <div class="album-desc">Kajian Pendidik Sejati, Datuk DR Daud Bakar - STEI SEBI</div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-8">
                            <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/a/8.jpg">
                                <div class="thumb-box">
                                    <span class="ion-arrow-expand"></span>
                                    <img width="1600" height="972" alt="" src="~/rwtheme/images/galeri/a/8.jpg" class="img-thumbnail">
                                </div>
                                <div class="album-desc">Kajian Bandung</div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-8">
                            <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/a/9.jpg">
                                <div class="thumb-box">
                                    <span class="ion-arrow-expand"></span>
                                    <img width="1600" height="972" alt="" src="~/rwtheme/images/galeri/a/9.jpg" class="img-thumbnail">
                                </div>
                                <div class="album-desc">Kajian Bandung</div>
                            </a>
                        </div>
                    </div>
                    <!-- gallery end -->
                </div>
                <div class="row">
                    <div class="col-sm-16 text-center">
                        <ul class="pagination">
                            <li><a href="#" class="hidden-xs">Terdahulu</a></li>
                            <li><a href="#">&laquo;</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">&raquo;</a></li>
                            <li><a href="#" class="hidden-xs">Terbaru</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Second Section Begin -->
    </div>
</div>
<!-- data end -->