
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_RWLayout.cshtml";
}

<!--data start Artikel.cshtml-->
<div class="container blogging-style">
    <div class="row">
        <!-- breadcrumb start -->
        <div class="page-header">
            <ol class="breadcrumb">
                <li><a href="#">Beranda</a></li>
                <li><a href="#">Tanya Jawab</a></li>
                <li class="active">Mingguan</li>
            </ol>
        </div>
        <!-- breadcrumb end -->
        <!-- Kolom artikel Begin -->
        <div class="col-sm-16 banner-outer gapTop">
            <div class="col-sm-16 col-md-16 wow fadeInLeft animated" data-wow-delay="1s" data-wow-offset="50">
                <div class="main-title-outer center-block">
                    <div class="main-title left-side album-desc" style="margin-bottom:0!important;">Pertanyaan &amp; Jawaban</div>
                    <div class="row no-margin">
                        <div class="col-md-4">
                            <div class="tab">
                                <button class="tablinks" onclick="openCity(event, 'Fikih')" id="defaultOpen">Fikih</button>
                                <button class="tablinks" onclick="openCity(event, 'Bisnis')">Bisnis</button>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div id="Fikih" class="tabcontent">
                                <div id="accordion">
                                    <ul id="x">
                                        <li>
                                            <input type="checkbox" checked>
                                            <i></i>
                                            <h2>Fikih Biaya Perjalanan Dinas yang Dipersingkat</h2>
                                            <p class="question">Pertanyaan: </p>
                                            <p class="question-body">
                                                Bagaimana pandangan fikih atau syariah Islam terkait pejalanan dinas
                                                pegawai instansi pemerintah atau swasta yang mendapatkan tugas dari
                                                kantornya untuk menyelesaikan tugas, rapat, ataupun workshop yang
                                                diagendakan beberapa hari, <b>
                                                    tetapi dipersingkat dari waktu yang
                                                    ditentukan menjadi 1,5 hari dan mendapatkan biaya sama seperti tiga
                                                    hari.
                                                </b> Bagaimana pandangan fikih terkait biaya yang didapatkan tersebut?
                                            </p>
                                            <p class="answer">Jawaban: </p>
                                            <p class="answer-body">
                                                Dari aspek akad atau transaksi, dapat dipilah menjadi dua opsi, yaitu
                                                transaksi sewa manfaat (ijarah) atau transaksi imbalan tertentu atas
                                                pencapaian hasil (ju'alah). <b>Opsi pertama adalah transaksi yang disepakati adalah ijarah.</b><br /><br />

                                                Berdasarkan Fatwa DSN-MUI No 09/DSN-MUI/IV/2000 tentang
                                                Pembiayaan Ijarah, <b>akad ijarah adalah akad pemindahan hak guna (manfaat) atas suatu barang dalam waktu tertentu dengan pembayaran sewa (ujrah) tanpa diikuti dengan pemindahan kepemilikan barang itu sendiri.</b> Akad ijarah juga
                                                berlaku untuk memperoleh jasa pihak lain guna melakukan
                                                pekerjaan tertentu dengan pembayaran upah (ujrah/fee).<br /><br />

                                                Berdasarkan transaksi ini, pegawai tersebut
                                                berhak mendapatkan fee atas jasa pekerjaan
                                                atau menyelesaikan pekerjaan tertentu
                                                berbasis harian. Oleh karena itu, jika dipersingkat, <b>fee sah yang diambil adalah sejumlah hari yang riil ditunaikan.</b>
                                                Sedangkan, sisanya dikembalikan kepada instansi atau kantor terkait yang memerintahkannya
                                                kecuali jika instansi tersebut merelakannya.<br />
                                            <p class="answer-body">
                                                <b>
                                                    Opsi kedua adalah transaksi yang disepakati adalah imbalan tertentu atas pencapaian
                                                    hasil (ju'alah).
                                                </b> Berdasar kan Fatwa DSN-MUI No 62/DSNMUI/ XII/2007 tentang
                                                Akad ju'alah, ju'alah adalah janji atau komitmen (iltizam) untuk memberikan imbalan
                                                (reward/'iwadh/ju'l) tertentu atas pen capaian hasil (natijah) yang ditentukan dari suatu
                                                pekerjaan.<br />

                                                Sebagaimana firman Allah, Penyeru-penyeru itu ber kata, "Kami kehilangan piala raja,
                                                dan siapa yang dapat mengembalikannya akan memperoleh bahan makanan (seberat)
                                                beban unta dan aku menja min terhadapnya." (QS Yusuf: 72).
                                            </p>
                                            <p class="answer-body">
                                                <b>Dengan demikian,</b> berdasarkan akad ju'alah, reward yang
                                                menjadi hak peserta/pegawai bukan berbasis harian, melainkan
                                                hasil. Jika waktu yang ditentukan tiga hari, tetapi output-nya
                                                sudah bisa selesai dalam dua hari, biaya tersebut sudah halal
                                                diterima dan dimanfaatkan pegawai. Jika ini yang
                                                diberlakukan, reward yang didapatkan pegawai atas progres
                                                yang dihasilkan walaupun waktunya di persingkat itu
                                                diperkenankan atau halal.
                                            </p>
                                            <p class="answer-body">
                                                Berdasarkan ketentuan akad diatas, perlu diperjelas kontrak yang biasa ditandatangani, <b>apakah transaksi sewa manfaat (ijarah) atau transaksi imbalan tertentu atas pencapaian hasil (ju'alah).</b> Keduanya memiliki konsekuensi hukumnya.<br />
                                                Jika opsi ijarah sulit ditunaikan, <b> sebaiknya jenis kontrak yang disepakati bukan berbasis harian, melainkan hasil.</b>
                                                Perlu diarahkan agar dari awal transaksi yang disepakati berbasis
                                                hasil (target) dari kegiatan agar fee reward yang didapatkan
                                                peserta itu halal.<br />
                                                Akan sangat baik, sebagai Muslim, memberikan teladan dan
                                                mendorong pemangku kebijakan dan pihak terkait <b>
                                                    agar
                                                    memperjelas kontrak (substansi perintah).
                                                </b> Kemudian, peserta
                                                kegiatan tersebut menuntaskan kegiatan dan hasilnya. Sehingga,
                                                meskipun harinya dipersingkat, hasil atau output-nya dapat
                                                direalisasikan sebagaimana yang disepakati.
                                            </p>
                                            <p class="text-right answer-body">Telah dimuat di koran republika - Senin, 15 Jan 2018</p>
                                            <p class="text-right answer-body">Wallahu a'lam</p>
                                        </li>
                                        <li>
                                            <input type="checkbox" checked>
                                            <i></i>
                                            <h2>Fikih Uang Muka</h2>
                                            <p>
                                                Jika untuk pemesan, hukumnya tidak boleh karena itu adalah uang suap agar selalu pesan kue di tempat tersebut.
                                            </p>
                                        </li>
                                        <li>
                                            <input type="checkbox" checked>
                                            <i></i>
                                            <h2>Bekerja di Lembaga konvensional</h2>
                                            <p>
                                                Insya Allah tidak mengapa jika tidak menyebabkan berhutang budi kepada si kafir.
                                            </p>
                                        </li>
                                        <li>
                                            <input type="checkbox" checked>
                                            <i></i>
                                            <h2>Bitcoin Menurut Fikih</h2>
                                            <p>
                                                Jual beli lelang boleh dalam Islam asalkan semua peserta lelang berniat untuk menjadi pemenang, bukan sekedar basa basi.
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div id="Bisnis" class="tabcontent">
                                <div id="accordion">
                                    <ul id="x">
                                        <li>
                                            <input type="checkbox" checked>
                                            <i></i>
                                            <h2>Jual Beli Melalui Marketplace</h2>
                                            <p class="question">Pertanyaan:</p>
                                            <p class="question-body">
                                                <b>Assalamu'alaikum Wr Wb, Ustadz.</b> saya seorang agen penjual hijab di Jakarta.
                                                Saya mau tanya mengenai sistem jual beli di market place. Mengingat customer
                                                membeli produk kita di market place tersebut dan melakukan pembayaran ke
                                                rekening market place lalu penjual di market place tersebut uangnya masih
                                                mengendap, baru bisa diganti uangnya dari market place setelah barang telah
                                                sampai dan di klik pesanan diterima oleh customer, bisa jadi uang yang
                                                mengendap tersebut dalam waktu yang lama kalau customernya berada di luar kota atau pelosok. Apalkah sistem seperti itu diperbolehkan?
                                            </p>
                                            <p class="answer">Jawaban:</p>
                                            <p class="answer-body">
                                                <b>E-commerce adalah</b> transaksi jual
                                                beli/perdagangan secara online. Sedangkan
                                                market place adalah tempat berjualan online
                                                di mana penjual baru menerima uangnya jika
                                                barang sudah sampai ke pembeli.<br /><br />
                                                <b>Promo subsidi ongkir dari Marketplace adalah </b> bentuk strategi promosi dari
                                                Marketplace. Sistem seperti ini adalah salah
                                                satu bentuk garansi untuk pembeli agar bisa
                                                berbelanja online yang aman dan nyaman.
                                                Uang akan cair setelah pembeli klik pesanan
                                                diterima.<br /><br />
                                                <b>Garansi Marketplace adalah</b> suatu
                                                perlindungan dari marketplace dengan cara
                                                menahan dana pembeli sampai pembeli
                                                mengkonfirmasikan bahwa barang sudah
                                                diterima dengan baik agar penjual benar-
                                                benar telah mengirimkan barang yang sesuai
                                                dengan pesanan customer.<br /><br />
                                                <b>Pihak-pihak yang bertransaksi adalah</b>
                                                produsen selaku pemilik barang yang menjual
                                                barangnya melalui lapak atau marketplace.
                                                Sedangkan pemilik lapak atau marketplace
                                                adalah penjual jasa marketing (pihak yang
                                                memasarkan produk-produk kepada pasar).
                                            </p>
                                            <p class="block-answer">
                                                Jual Beli melalui Marketplace dan e-commerce ini diperkenankan dengan memenuhi kaidah berikut, yaitu:
                                            </p>
                                            <p class="answer-body">
                                                Pertama, karena produk yang diperjual belikan melalui market place (tidak bisa dilihat langsung), maka produk tersebut harus diketahui dengan jelas spesifikasinya dan bisa diserah terimakan sesuai kesepakatan.<br /><br />
                                                Kedua, transaksi jual beli yang terjadi antara pemilik produk dengan pembeli adalah jual beli tidak tunai (al-Bai’ al-Muajjal), di mana barang yang dijual itu diserahkan secara tunai, sedangkan harga diterima oleh penjual setelah barang diterima oleh pembeli (tidak tunai). Berdasarkan skema jual beli antara pemilik produk dan pembeli melalui market place tersebut, penjual berhak mendapatkan margin. Kebolehan jual beli tidak tunai ini berdasarkan keputusan Lembaga Fikih Organisasi Kerjasama Islam No. 51 (2/6) 1990, dan Fatwa DSN MUI No: 04/DSN-MUI/IV/2000 Tentang Murabahah.<br /><br />
                                                Ketiga, transaksi antara pemilik marketplace dengan penjual, menggunakan jual jasa (akad Ijarah), di mana marketplace menyewakan jasa lapak kepada pembeli. Atas jasanya, marketplace berhak mendapatkan fee.
                                            </p>
                                            <p class="block-answer">
                                                Berdasarkan skema tersebut, supplier berhak mendapatkan fee, baik berupa nominal ataupun prosentase dari harga jual. Akad ijarah dibolehkan sebagaimana (substansinya) sesuai fatwa DSN MUI No: 09/DSN-MUI/IV/2000 Tentang Pebiayaan Ijarah, dan Fatwa DSN MUI No: 52/DSN-MUI/III/2006 Tentang Akad Wakalah Bil Ujrah
                                                Pada Asuransi Syari’ah dan Reasuransi Syari’ah.
                                            </p>
                                            <p class="answer-body">
                                                Keempat, saldo penjual yang ditahan oleh lapak bertujuan agar pembeli
                                                mendapatkan barang bisa terpenuhi sehingga tidak terjadi, uang sudah diterima oleh penjual, tetapi barang belum diterima oleh pembeli. Jika ketentuan ini disepakati, jual beli menjadi sah dan harus dipenuhi.
                                                Sebagaimana hadis Nabi Muhammad Saw. "Dari ‘Amr bin ‘Auf al-Muzani, bahwa Rasulullah SAW bersabda: Sulh (penyelesaian sengketa melalui musyawarah untuk mufakat) dapat dilakukan di antara kaum muslimin kecuali sulh yang mengharamkan yang halal atau menghalalkan yang haram; dan kaum muslimin terikat dengan syarat-syarat mereka kecuali syarat yang mengharamkan yang halal atau menghalalkan yang haram." (H.R. Al-Tirmidzi)
                                            </p>
                                            <p class="block-answer">
                                                Kelima, jika terjadi pembungaan (ribawi) saldo rekening selama masa pengendapan tersebut, maka penyimpangan itu bukan dilakukan oleh pembeli atau penjual, tetapi oleh lapak.
                                            </p>
                                            <p class="block-answer">
                                                Kelima, Memprioritaskan untuk bertransaksi dengan pihak dan produk yang memberikan kemaslahatan kepada masyarakat.
                                            </p>
                                            <p class="text-right answer-body">Telah dimuat di koran republika - Rabu, 24 Jan 2018</p>
                                            <p class="text-right answer-body">Wallahu a'lam</p>
                                        </li>
                                        <li>
                                            <input type="checkbox" checked>
                                            <i></i>
                                            <h2>Jual Beli Emas tidak Tunai (Mengangsur)</h2>
                                            <p>
                                                Jika untuk pemesan, hukumnya tidak boleh karena itu adalah uang suap agar selalu pesan kue di tempat tersebut.
                                            </p>
                                        </li>
                                        <li>
                                            <input type="checkbox" checked>
                                            <i></i>
                                            <h2>Belanja dengan Kartu Diskon</h2>
                                            <p>
                                                Insya Allah tidak mengapa jika tidak menyebabkan berhutang budi kepada si kafir.
                                            </p>
                                        </li>
                                        <li>
                                            <input type="checkbox" checked>
                                            <i></i>
                                            <h2>Denda keterlambatan pada Bank Syariah</h2>
                                            <p>
                                                Jual beli lelang boleh dalam Islam asalkan semua peserta lelang berniat untuk menjadi pemenang, bukan sekedar basa basi.
                                            </p>
                                        </li>
                                        <li>
                                            <input type="checkbox" checked>
                                            <i></i>
                                            <h2>Jual Beli Mata Uang</h2>
                                            <p>
                                                Jual beli lelang boleh dalam Islam asalkan semua peserta lelang berniat untuk menjadi pemenang, bukan sekedar basa basi.
                                            </p>
                                        </li>
                                        <li>
                                            <input type="checkbox" checked>
                                            <i></i>
                                            <h2>Wakaf Produktif</h2>
                                            <p>
                                                Jual beli lelang boleh dalam Islam asalkan semua peserta lelang berniat untuk menjadi pemenang, bukan sekedar basa basi.
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- data end -->