
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_RWLayout.cshtml";
}

<!--data start Artikel.cshtml-->
<div class="container blogging-style">
    <div class="row">
        <!-- breadcrumb start -->
        <div class="page-header">
            <ol class="breadcrumb">
                <li><a href="#">Beranda</a></li>
                <li class="active">Profil Rumahwasathia</li>
            </ol>
        </div>
        <!-- breadcrumb end -->
        <div class="row">
            <div class="col-md-10 col-sm-10">
                <img width="1000" height="606" alt="" src="~/rwtheme/images/profil/kantor.jpeg" class="img-thumbnail">
                <div class="profil-desc">
                    <p>
                        <span class="firstcharacter">R</span>
                        umahwasathia hadir sebagai solusi dari banyaknya pertanyaan masyarakat seputar persoalan kehidupan sehari-hari menurut aspek Syari’ah Islam, yang dimana pada realita sekarang ini, sangat minim referensi Islam yang genuine dan bernash. Selain itu, rumahwasathia meyakini perkembangan pendidikan yang semakin berkualitas dalam mencetak Sumber Daya Manusia ahli Fiqih, yang nantinya akan fokus dalam mengelola tugas ini.
                    </p>
                </div>
                <div class="service">
                    <h3>Layanan &amp; Produk</h3>
                    <div class="row">
                        <div class="col-sm-16">
                            <ul>
                                <li>Buku-buku fikih Muamalah: Referensi Lembaga Pendidikan dan Masyarakat</li>
                                <li>Buku-buku Dakwah: Referensi Ummat</li>
                                <li>Buku Konsultasi Syariah: kumpulan tanya jawab fikih untuk masyarakat umum</li>
                                <li>Tulisan Edukasi di media cetak (Koran dan majalah)</li>
                                <li>Layanan Konsultasi Syariah: melalui sms, telpon, email dan telegram.</li>
                                <li>Siaran kajian fikih dan dakwah di Radio, TV dan youtube.</li>
                                <li>Layanan Konsultasi Syariah langsung (tatap muka) di kantor rumahwasathia</li>
                                <li>Layanan talaqqi <i>(short course)</i> referensi turats untuk para Dai</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="consult-service-wrapper">
                    <h3>Layanan Konsultasi Syariah</h3>
                    <div class="row">
                        <div class="col-sm-16">
                            <div class="subtitle pull-left">
                                <div class="inner-title">Target</div>
                            </div>
                            <div class="consult-service">
                                <ol>
                                    <li>Karena banyak sekali pertanyaan masyarakat terkait masalah atau ihwal kehidupan mereka sehari- hari, khususnya di bidang muamalah</li>
                                    <li>Menjawab pertanyaan-pertanyaan tersebut itu harus disediakan waktu yang cukup oleh penanya atau ustadz yang berkompeten</li>
                                    <li>Masyarakat harus diberikan kesempatan untuk mudah bertanya dan cepat mendapatkan jawaban</li>
                                    <li>Selain ustadz itu menyediakan waktu yang cukup untuk menjawab pertanyaan ini itu juga harus ada SDM yang stand by yang membantu mengadministrasikan, menerima pertanyaan dan mempublish agar pertanyaan itu direspon cepat dan tepat.</li>
                                </ol>
                            </div>
                        </div>
                        <div class="col-sm-16">
                            <div class="subtitle pull-left">
                                <div class="inner-title">Waktu</div>
                            </div>
                            <div class="consult-service">
                                <ol>
                                    <li>Pertanyaan bisa disampaikan via email, sms, media sosial, Koran atau radio</li>
                                    <li>Setiap pertanyaan akan dipublish ke penanya langsung, dan jika tidak ada hal yang privasi akan dipublish di media dan situs.</li>
                                    <li>Berikut adalah contoh dari pertanyaan- pertanyaan yang pernah dikelola oleh rumahwasathia (nukil dari daftar foto beberapa halaman daftar isi di buku Tanya jawab ekonomi syariah)</li>
                                </ol>
                                <button class="btn custom-btn pull-right" data-toggle="modal" data-target=".bs-example-modal-lg">Lihat Disini!</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-16">
                <div class="profile-side-bar-wrapper">
                    <div class="profile-side-bar">
                        <h3>Latar Belakang</h3>
                        <ol>
                            <li>Banyaknya pertanyaan masyarakat seputar kehidupan sehari-hari menurut aspek syariah</li>
                            <li>Minimnya referensi islam yang <i>genuine</i> &amp; <i>ber-Nash</i></li>
                            <li>Perlu ada SDM yang fokus mengelola tugas ini</li>
                        </ol>
                    </div>
                    <div class="profile-side-bar">
                        <h3>Target kami</h3>
                        <ol>
                            <li>Membangun wasathia dalam konsepsi fikih dan dakwah</li>
                            <li>Mengokohkan dan Meluruskan pemahaman Islam di masyarakat</li>
                            <li>Konsultasi syariah, merespon pertanyaan masyarakat seputar Islam dan Syariah</li>
                        </ol>
                    </div>
                    <div class="profile-side-bar">
                        <h3>Struktur Rumahwasathia</h3>
                        <div class="group-wrapper">
                            <h4>Pendiri</h4>
                            <ul>
                                <li>Dr. Oni sahroni, M.A</li>
                                <li>Sahabudin. Ak, M.M</li>
                            </ul>
                            <h4>Pembina</h4>
                            <ul>
                                <li>Dr. Oni sahroni, M.A</li>
                                <li>Sahabudin. Ak, M.M</li>
                                <li>Deny Imam Wahyudi</li>
                            </ul>
                            <h4>Pengawas</h4>
                            <ul>
                                <li>Asep Mislan</li>
                                <li>Muhammad Ayub</li>
                            </ul>
                            <h4>Pengurus</h4>
                            <ul>
                                <li>Ketua : M Taufik Rohman, S.Akun</li>
                                <li>Sekretaris : Rahmat Hidayat, S.E</li>
                                <li>Bendahara : Hetty Muslihah, S.T</li>
                                <li>Anggota : Fatimah</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="row">
            <div class="col-sm-16">
                <div class="service-example">
                    <h3>Contoh Layanan &amp; Produk</h3>
                </div>
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <ul class="nav nav-pills nav-justified">
                        <li data-target="#myCarousel" data-slide-to="0" class="active">
                            <a href="#">
                                Buku<small>
                                    Referensi
                                </small>
                            </a>
                        </li>
                        <li data-target="#myCarousel" data-slide-to="1">
                            <a href="#">
                                Referensi<small>
                                    Pesantren
                                </small>
                            </a>
                        </li>
                        <li data-target="#myCarousel" data-slide-to="2">
                            <a href="#">
                                Referensi<small>
                                    Pendidikan
                                </small>
                            </a>
                        </li>
                        <li data-target="#myCarousel" data-slide-to="3">
                            <a href="#">
                                Referensi<small>
                                    Masyarakat Umum
                                </small>
                            </a>
                        </li>
                    </ul>
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="~/rwtheme/images/profil/buku.jpg" alt="Alternate Text" />
                        </div>
                        <!-- End Item -->
                        <div class="item">
                            <img src="~/rwtheme/images/profil/pesantren.jpg" alt="Alternate Text" />
                        </div>
                        <!-- End Item -->
                        <div class="item">
                            <img src="~/rwtheme/images/profil/pendidikan.jpg" alt="Alternate Text" />
                        </div>
                        <!-- End Item -->
                        <div class="item">
                            <img src="~/rwtheme/images/profil/umum.jpg" alt="Alternate Text" />
                        </div>
                        <!-- End Item -->
                    </div>
                    <!-- End Carousel Inner -->

                </div>
                <!-- End Carousel -->
            </div>
        </div>*@
        <div class="row">
            <div class="col-sm-16">
                <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <img class="img-responsive" src="~/rwtheme/images/profil/1.jpg" alt="...">
                                    </div>
                                    <div class="item">
                                        <img class="img-responsive" src="~/rwtheme/images/profil/2.jpg" alt="...">
                                    </div>
                                    <div class="item">
                                        <img class="img-responsive" src="~/rwtheme/images/profil/3.jpg" alt="...">
                                    </div>
                                    <div class="item">
                                        <img class="img-responsive" src="~/rwtheme/images/profil/4.jpg" alt="...">
                                    </div>
                                    <div class="item">
                                        <img class="img-responsive" src="~/rwtheme/images/profil/5.jpg" alt="...">
                                    </div>
                                    <div class="item">
                                        <img class="img-responsive" src="~/rwtheme/images/profil/6.jpg" alt="...">
                                    </div>
                                    <div class="item">
                                        <img class="img-responsive" src="~/rwtheme/images/profil/7.jpg" alt="...">
                                    </div>
                                </div>
                                <!-- Controls -->
                                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                </a>
                                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- data end -->