
@{
    ViewData["Title"] = "Profil";
    Layout = "~/Views/Shared/_RWLayout.cshtml";
}

<!-- data start -->
<section>
    <div class="container ">
        <div class="row ">
            <!-- left sec start -->
            <div class="col-md-11 col-sm-11">
                <div class="row">
                    <div class="col-sm-16 author-box">
                        <div class="row">
                            <div class=" col-xs-16 col-sm-3"><img width="128" height="128" alt="" src="~/rwtheme/images/comments/com-1.jpg" class="img-thumbnail"></div>
                            <div class="col-xs-16 col-sm-13">
                                <h4>Roman Polyarush</h4>
                                <p>Nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
                                <ul class="list-inline">
                                    <li><a href="#"><span class="ion-social-twitter"></span></a></li>
                                    <li><a href="#"><span class="ion-social-facebook"></span></a></li>
                                    <li><a href="#"><span class="ion-social-googleplus"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- data end -->