
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_RWLayout.cshtml";
}

<!--data start Artikel.cshtml-->
<div class="container blogging-style">
    <div class="row">
        <!-- breadcrumb start -->
        <div class="page-header">
            <ol class="breadcrumb">
                <li><a href="#">Beranda</a></li>
                <li><a href="#">Konsultasi</a></li>
                <li class="active">Republika Online</li>
            </ol>
        </div>
        <!-- breadcrumb end -->
        <!-- Kolom artikel Begin -->
        <div class="col-sm-16 banner-outer gapTop">
            <div class="row no-margin">
                <div class="col-md-16">
                    <div id="accordion">
                        <ol id="x">
                            <li>
                                <h2><a href="http://www.republika.co.id/berita/ekonomi/syariah-ekonomi/18/01/18/p2qprh440-bagaimana-fikih-biaya-perjalanan-dinas-yang-dipersingkat" target="_blank">Fikih Biaya Perjalanan Dinas yang dipersingkat</a></h2>
                            </li>
                            <li>
                                <h2><a href="http://www.republika.co.id/berita/ekonomi/syariah-ekonomi/18/01/17/p2p96z440-konsultasi-syariah-apa-hukum-bisnis-sebagai-reseller" target="_blank">Fikih Bisnis Reseller</a></h2>
                            </li>
                            <li>
                                <h2><a href="http://republika.co.id/berita/ekonomi/syariah-ekonomi/18/01/29/p3aqzw440-bitcoin-menurut-fikih" target="_blank">Bitcoin Menurut Fikih</a></h2>
                            </li>
                            <li>
                                <h2><a href="http://republika.co.id/berita/ekonomi/syariah-ekonomi/18/01/31/p3f1ro416-konsultasi-syariah-top-up-transportasi-daring" target="_blank">Top Up Transportasi Daring</a></h2>
                            </li>
                            <li>
                                <h2><a href="http://republika.co.id/berita/ekonomi/syariah-ekonomi/18/02/06/p3mqwu416-konsultasi-syariah-belanja-dengan-kartu-diskon" target="_blank">Belanja dengan Kartu Diskon</a></h2>
                            </li>
                            <li>
                                <h2><a href="http://republika.co.id/berita/ekonomi/syariah-ekonomi/18/02/07/p3ri1z416-konsultasi-syariah-bekerja-di-usaha-yang-tidak-halal" target="_blank">Bekerja di Usaha yang tidak Halal</a></h2>
                            </li>
                            <li>
                                <h2><a href="http://www.republika.co.id/berita/ekonomi/syariah-ekonomi/18/02/13/p43e0z416-konsultasi-syariah-denda-keterlambatan-pada-bank-syariah" target="_blank">Jual Beli Emas tidak Tunai (Mengangsur)</a></h2>
                            </li>
                            <li>
                                <h2><a href="http://www.republika.co.id/berita/ekonomi/syariah-ekonomi/18/02/13/p43e0z416-konsultasi-syariah-denda-keterlambatan-pada-bank-syariah" target="_blank">Denda Keterlambatan Bank Syariah</a></h2>
                            </li>
                            <li>
                                <h2><a href="http://www.republika.co.id/berita/ekonomi/syariah-ekonomi/18/02/21/p4hf2j416-konsultasi-syariah-hukum-zakat-profesi" target="_blank">Hukum Zakat Profesi</a></h2>
                            </li>
                            <li>
                                <h2><a href="http://www.republika.co.id/berita/ekonomi/syariah-ekonomi/18/02/26/p4r250416-konsultasi-syariah-fikih-uang-muka" target="_blank">Fikih Uang Muka</a></h2>
                            </li>
                            <li>
                                <h2><a href="http://www.republika.co.id/berita/ekonomi/syariah-ekonomi/18/03/05/p540ya416-konsultasi-syariah-jual-beli-mata-uang" target="_blank">Jual Beli Mata Uang</a></h2>
                            </li>
                            <li>
                                <h2><a href="http://republika.co.id/berita/ekonomi/syariah-ekonomi/18/03/09/p5bezq416-konsultasi-syariah-maksimal-keuntungan" target="_blank">Maksimal Keuntungan</a></h2>
                            </li>
                            <li>
                                <h2><a href="http://www.republika.co.id/berita/ekonomi/syariah-ekonomi/18/03/15/p5j6t4416-konsultasi-syariah-jual-beli-murabahah-di-bank-syariah" target="_blank">Jual Beli Murabahah di Bank Syariah</a></h2>
                            </li>
                            <li>
                                <h2><a href="http://www.republika.co.id/berita/ekonomi/syariah-ekonomi/18/03/25/p65c8v416-wakaf-uang-dan-wakaf-melalui-uang" target="_blank">Wakaf Uang dan Wakaf Melalui Uang</a></h2>
                            </li>
                            <li>
                                <h2><a href="http://republika.co.id/berita/ekonomi/syariah-ekonomi/18/04/01/p6iftv416-perbedaan-asuransi-syariah-dan-konvensional" target="_blank">Perbedaan Asuransi Syariah dan Konvensional</a></h2>
                            </li>
                            <li>
                                <h2><a href="http://republika.co.id/berita/ekonomi/syariah-ekonomi/18/04/03/p6m3h4416-konsultasi-syariah-parameter-kesesuaian-syariah" target="_blank">Parameter Kesesuaian Syariah</a></h2>
                            </li>
                            <li>
                                <h2><a href="http://republika.co.id/berita/ekonomi/syariah-ekonomi/18/04/05/p6poza416-konsultasi-syariah-bagi-hasil-dengan-syarat-balik-modal" target="_blank">Bagi Hasil dengan Syarat Balik modal</a></h2>
                            </li>
                            <li>
                                <h2><a href="http://republika.co.id/berita/ekonomi/syariah-ekonomi/18/04/09/p6wsy4416-konsultasi-syariah-fikih-risiko-bisnis" target="_blank">Fikih Risiko Bisnis</a></h2>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- data end -->