
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_RWLayout.cshtml";
}

<!--data start Artikel.cshtml-->
<div class="container blogging-style">
    <div class="row">
        <!-- breadcrumb start -->
        <div class="page-header">
            <ol class="breadcrumb">
                <li><a href="#">Beranda</a></li>
                <li><a href="#">Buku</a></li>
                <li><a href="#">Detail</a></li>
                <li class="active">MAQASHID BISNIS &amp; KEUANGAN ISLAM Sintesis Fikih dan Ekonomi</li>
            </ol>
        </div>
        <!-- breadcrumb end -->
        <!-- Kolom artikel Begin -->
        <div class="col-sm-16 banner-outer gapTop">
            <div class="col-sm-16 col-md-10 wow fadeInLeft animated" data-wow-delay="1s" data-wow-offset="50">
                <div class="main-title-outer center-block">
                    <div class="main-title left-side album-desc">Detail Buku</div>
                    <div class="row">
                        <div class="book-detail col-sm-5">
                            <a class="open-popup-link" href="#buy-book" data-effect="mfp-zoom-in">
                                <img class="img-thumbnail" src="~/rwtheme/images/book/cover2.jpg" alt="" />
                                <span class="download-icon"><span class="ion-bag"></span>Beli Buku</span>
                            </a>
                        </div>
                        <div class="col-sm-10">
                            <div class="detail">
                                <h2>MAQASHID BISNIS &amp; KEUANGAN ISLAM Sintesis Fikih dan Ekonomi</h2>
                                <table class="table1">
                                    <tr>
                                        <td width="25%">Penulis</td>
                                        <td width="75%">Dr. Oni Shahroni, M.A. <br /> Ir. Adiwarman A. Karim, S.E., M.B.A., M.A.E.P</td>
                                    </tr>
                                    <tr>
                                        <td>Tahun Terbit</td>
                                        <td>2015</td>
                                    </tr>
                                    <tr>
                                        <td>Tebal</td>
                                        <td>284 Halaman</td>
                                    </tr>
                                    <tr>
                                        <td>ISBN</td>
                                        <td>978-979-769-862-1</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-16">
                            <div class="description">
                                <p>
                                    Sesungguhnya ada tujuan (maqashid) Allah SWT diba­lik ketentuan hukum bisnis dan keuangan syari'ah. Selain itu, tujuan tersebut itu banyak sarana (wasail) yang mengantarkan kepada- Nya .                                    
                                </p>
                                <p>
                                    Begitu pentingnya maqashid syari'ah sehingga dijadikan sebagai salah satu syarat menjadi ahli ijtihad dan ahli fatwa agar produk fatwa sesuai dengan tujuan dan keinginan Allah SWT dalam mensyariatkan hukum tersebut.
                                </p>
                                <p>
                                    Dalam konteks bisnis dan keuangan syari'ah, fikih ma qashid mengnyinergikan antara nash dan kepentingan pasar, memastikan bahwa kepentingan pasar adalah kepentingan yang sebenarnya, memastikan kepentin­gan ekonomi adalah kepentingan masyarakat banyak, dan memastikan kepentingan bisnis adalah kepentin­gan jangka panjang sesuai dengan rumusan maqashid.
                                </p>
                                <p>
                                    Atas dasar itu buku ini hadir untuk menjelaskan hal-hal penting dalam maqashid syari'ah, di antara nya dha­wabith maqashid syari'ah, cara menggali maqashid syari'ah, maqashid di balik kententuan hukum dan ketentu­an ekonomi syariah baik mikro maupun makro, serta menjelaskan contoh penerapan ijtihad maqashid dalam fatwa-fatwa lembaga pikir, seperti Dewan Syariah Nasi­onal.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="buy-book" class="white-popup mfp-with-anim mfp-hide">
                <div class="row">
                    <div class="col-xs-16">
                        <div class="buying-book">
                            <div class="ion-bag"></div>
                            <p>Untuk Pembelian buku bisa hubungi tim kami melalui kontak berikut:</p>
                            <a href="https://api.whatsapp.com/send?phone=6281285757636&text=Assalamualaikum">Riski | 0812-8575-7636</a>
                            <a href="https://api.whatsapp.com/send?phone=6287885283747&text=Assalamualaikum">Rumahwasathia | 0878-8528-3747</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-16 col-md-6 right-side-style wow fadeInDown animated" data-wow-delay="1s" data-wow-offset="40">
                <div class="row">
                    <div class="col-sm-16">
                        <div class="main-title-outer pull-left">
                            <div class="main-title right-side">Artikel Terbaru</div>
                            <ul class="list-unstyled kajian">
                                <li>
                                    <a href="#">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6"><img class="img-thumbnail pull-left" src="~/rwtheme/images/sec/sec-1.jpg" width="400" height="300" alt="" /> </div>
                                            <div class="col-md-10 col-sm-10">
                                                <h4>Nielsen forecasts smaller black friday </h4>
                                                <div class="text-danger sub-info">
                                                    <div class="time"><span class="ion-android-data icon"></span>Dec 16 2014</div>
                                                    <div class="comments"><span class="ion-chatbubbles icon"></span>351</div>
                                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6"><img class="img-thumbnail pull-left" src="~/rwtheme/images/sec/sec-2.jpg" width="400" height="300" alt="" /> </div>
                                            <div class="col-md-10 col-sm-10">
                                                <h4>Nielsen forecasts smaller black friday </h4>
                                                <div class="text-danger sub-info">
                                                    <div class="time"><span class="ion-android-data icon"></span>Dec 16 2014</div>
                                                    <div class="comments"><span class="ion-chatbubbles icon"></span>351</div>
                                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6"><img class="img-thumbnail pull-left" src="~/rwtheme/images/sec/sec-3.jpg" width="400" height="300" alt="" /> </div>
                                            <div class="col-md-10 col-sm-10">
                                                <h4>Nielsen forecasts smaller black friday </h4>
                                                <div class="text-danger sub-info">
                                                    <div class="time"><span class="ion-android-data icon"></span>Dec 16 2014</div>
                                                    <div class="comments"><span class="ion-chatbubbles icon"></span>351</div>
                                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6"><img class="img-thumbnail pull-left" src="~/rwtheme/images/sec/sec-4.jpg" width="400" height="300" alt="" /> </div>
                                            <div class="col-md-10 col-sm-10">
                                                <h4>Nielsen forecasts smaller black friday </h4>
                                                <div class="text-danger sub-info">
                                                    <div class="time"><span class="ion-android-data icon"></span>Dec 16 2014</div>
                                                    <div class="comments"><span class="ion-chatbubbles icon"></span>351</div>
                                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6"><img class="img-thumbnail pull-left" src="~/rwtheme/images/sec/sec-5.jpg" width="400" height="300" alt="" /> </div>
                                            <div class="col-md-10 col-sm-10">
                                                <h4>Nielsen forecasts smaller black friday </h4>
                                                <div class="text-danger sub-info">
                                                    <div class="time"><span class="ion-android-data icon"></span>Dec 16 2014</div>
                                                    <div class="comments"><span class="ion-chatbubbles icon"></span>351</div>
                                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Second Section Begin -->
    </div>
</div>
<!-- data end -->