
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_RWLayout.cshtml";
}

<!--data start Artikel.cshtml-->
<div class="container blogging-style">
    <div class="row">
        <!-- breadcrumb start -->
        <div class="page-header">
            <ol class="breadcrumb">
                <li><a href="#">Beranda</a></li>
                <li><a href="#">Buku</a></li>
                <li><a href="#">Detail</a></li>
                <li class="active">Ushul Fikih Muamalah: Kaidah-kaidah Ijtihad dan Fatwa dalam Ekonomi Islam</li>
            </ol>
        </div>
        <!-- breadcrumb end -->
        <!-- Kolom artikel Begin -->
        <div class="col-sm-16 banner-outer gapTop">
            <div class="col-sm-16 col-md-10 wow fadeInLeft animated" data-wow-delay="1s" data-wow-offset="50">
                <div class="main-title-outer center-block">
                    <div class="main-title left-side album-desc">Detail Buku</div>
                    <div class="row">
                        <div class="book-detail col-sm-5">
                            <a class="open-popup-link" href="#buy-book" data-effect="mfp-zoom-in">
                                <img class="img-thumbnail" src="~/rwtheme/images/book/cover3.jpg" alt="" />
                                <span class="download-icon"><span class="ion-bag"></span>Beli Buku</span>
                            </a>
                        </div>
                        <div class="col-sm-10">
                            <div class="detail">
                                <h2>Ushul Fikih Muamalah: Kaidah-kaidah Ijtihad dan Fatwa dalam Ekonomi Islam</h2>
                                <table class="table1">
                                    <tr>
                                        <td width="25%">Penulis</td>
                                        <td width="75%">Dr. Oni Shahroni, M.A.</td>
                                    </tr>
                                    <tr>
                                        <td>Tahun Terbit</td>
                                        <td>2017</td>
                                    </tr>
                                    <tr>
                                        <td>Tebal</td>
                                        <td>308 Halaman</td>
                                    </tr>
                                    <tr>
                                        <td>ISBN</td>
                                        <td>978-602-425-011-9</td>
                                    </tr>
                                    <tr>
                                        <td>Ukuran</td>
                                        <td>13.5 x 20.5 cm</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-16">
                            <div class="description">
                                <p>Ushul fikih dan ijtihad harus selalu hidup agar setiap kegiatan ekonomi, pada khususnya, sesuai dengan Islam.</p>
                                <p>Pertama, buku ini berisi rumusan materi yang dibuat sistematis dan menyesuaikan praktik ijtihad. Misaln­ya , teori-teori bahasa dan mantiq dalam ushul fikih ditempatkan pada bab memahami nash.</p>
                                <p>Kedua, aplikatif, yaitu fokus pada teori yang dibutuh­ kan dalam bidang ekonomi, sedangkan teori yang tidak aplikatif tidak dibahas dan diganti dengan teori yang berkaitan, misalnya, ijma'. Karena keberadaan­ nya tidak mungkin terjadi, bahasannya diganti degan daftar ijma' dalam masalah ekonomi.</p>
                                <p>Ketiga, terkait dengan ekonomi syari'ah. Dengan cara merujuk pada hukum dalam ijtihad yang terkait dengan ekonomi, seperti 'urf tujjar dan ijtihad kolek­tif dalam bisnis.</p>
                                <p>Keempat, setiap bab dalam buku ini sarat akan con­toh-contoh ekonomi syariah agar mudah dipahami.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="buy-book" class="white-popup mfp-with-anim mfp-hide">
                <div class="row">
                    <div class="col-xs-16">
                        <div class="buying-book">
                            <div class="ion-bag"></div>
                            <p>Untuk Pembelian buku bisa hubungi tim kami melalui kontak berikut:</p>
                            <a href="https://api.whatsapp.com/send?phone=6281285757636&text=Assalamualaikum">Riski | 0812-8575-7636</a>
                            <a href="https://api.whatsapp.com/send?phone=6287885283747&text=Assalamualaikum">Rumahwasathia | 0878-8528-3747</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-16 col-md-6 right-side-style wow fadeInDown animated" data-wow-delay="1s" data-wow-offset="40">
                <div class="row">
                    <div class="col-sm-16">
                        <div class="main-title-outer pull-left">
                            <div class="main-title right-side">Artikel Terbaru</div>
                            <ul class="list-unstyled kajian">
                                <li>
                                    <a href="#">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6"><img class="img-thumbnail pull-left" src="~/rwtheme/images/sec/sec-1.jpg" width="400" height="300" alt="" /> </div>
                                            <div class="col-md-10 col-sm-10">
                                                <h4>Nielsen forecasts smaller black friday </h4>
                                                <div class="text-danger sub-info">
                                                    <div class="time"><span class="ion-android-data icon"></span>Dec 16 2014</div>
                                                    <div class="comments"><span class="ion-chatbubbles icon"></span>351</div>
                                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6"><img class="img-thumbnail pull-left" src="~/rwtheme/images/sec/sec-2.jpg" width="400" height="300" alt="" /> </div>
                                            <div class="col-md-10 col-sm-10">
                                                <h4>Nielsen forecasts smaller black friday </h4>
                                                <div class="text-danger sub-info">
                                                    <div class="time"><span class="ion-android-data icon"></span>Dec 16 2014</div>
                                                    <div class="comments"><span class="ion-chatbubbles icon"></span>351</div>
                                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6"><img class="img-thumbnail pull-left" src="~/rwtheme/images/sec/sec-3.jpg" width="400" height="300" alt="" /> </div>
                                            <div class="col-md-10 col-sm-10">
                                                <h4>Nielsen forecasts smaller black friday </h4>
                                                <div class="text-danger sub-info">
                                                    <div class="time"><span class="ion-android-data icon"></span>Dec 16 2014</div>
                                                    <div class="comments"><span class="ion-chatbubbles icon"></span>351</div>
                                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6"><img class="img-thumbnail pull-left" src="~/rwtheme/images/sec/sec-4.jpg" width="400" height="300" alt="" /> </div>
                                            <div class="col-md-10 col-sm-10">
                                                <h4>Nielsen forecasts smaller black friday </h4>
                                                <div class="text-danger sub-info">
                                                    <div class="time"><span class="ion-android-data icon"></span>Dec 16 2014</div>
                                                    <div class="comments"><span class="ion-chatbubbles icon"></span>351</div>
                                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6"><img class="img-thumbnail pull-left" src="~/rwtheme/images/sec/sec-5.jpg" width="400" height="300" alt="" /> </div>
                                            <div class="col-md-10 col-sm-10">
                                                <h4>Nielsen forecasts smaller black friday </h4>
                                                <div class="text-danger sub-info">
                                                    <div class="time"><span class="ion-android-data icon"></span>Dec 16 2014</div>
                                                    <div class="comments"><span class="ion-chatbubbles icon"></span>351</div>
                                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Second Section Begin -->
    </div>
</div>
<!-- data end -->