
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_RWLayout.cshtml";
}

<!--data start Artikel.cshtml-->
<div class="container blogging-style">
    <div class="row">
        <!-- breadcrumb start -->
        <div class="page-header">
            <ol class="breadcrumb">
                <li><a href="#">Beranda</a></li>
                <li><a href="#">Buku</a></li>
                <li><a href="#">Detail</a></li>
                <li class="active">Riba, Gharar &amp; Kaidah Ekonomi Syariah</li>
            </ol>
        </div>
        <!-- breadcrumb end -->
        <!-- Kolom artikel Begin -->
        <div class="col-sm-16 banner-outer gapTop">
            <div class="col-sm-16 col-md-10 wow fadeInLeft animated" data-wow-delay="1s" data-wow-offset="50">
                <div class="main-title-outer center-block">
                    <div class="main-title left-side album-desc">Detail Buku</div>
                    <div class="row">
                        <div class="book-detail col-sm-5">
                            <a class="open-popup-link" href="#buy-book" data-effect="mfp-zoom-in">
                                <img class="img-thumbnail" src="~/rwtheme/images/book/cover1.jpg" alt="" />
                                <span class="download-icon"><span class="ion-bag"></span>Beli Buku</span>
                            </a>
                        </div>
                        <div class="col-sm-10">
                            <div class="detail">
                                <h2>Riba, Gharar &amp; Kaidah Ekonomi Syariah</h2>
                                <table class="table1">
                                    <tr>
                                        <td width="25%">Penulis</td>
                                        <td width="75%">Dr. Oni Shahroni, M.A. <br /> Ir. Adiwarman A. Karim, S.E., M.B.A., M.A.E.P</td>
                                    </tr>
                                    <tr>
                                        <td>Tahun Terbit</td>
                                        <td>2015</td>
                                    </tr>
                                    <tr>
                                        <td>Tebal</td>
                                        <td>260 Halaman</td>
                                    </tr>
                                    <tr>
                                        <td>ISBN</td>
                                        <td>978-979-769-857-7</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-16">
                            <div class="description">
                                <p>
                                    Kajian mendalam kitab- kitab klasik dan kon­temporer yang menghasilkan kesimpulan bahwa hal-hal terlarang dalam ekonomi jauh lebih sedikit daripada hal-hal yang diperboleh­
                                    kan.
                                </p>
                                <p>
                                    Kajian dalam buku ini j uga dilengkapi dengan maqashid (tujuan) ketentuan hukum, prakti­knya dalam bisnis kontemporer, alternatif yang halal, serta penjelasan dalam fatwa-fat­wa Dewan Syari'ah Nasional MUI yang menjadi
                                    ruju kan operasiona l lembaga keuangan sya ri­
                                    ahdi tanah air.
                                </p>
                                <p>
                                    Karena itu buku ini memiliki arti penting, tidak hanya bagi para akademisi sebagai salah satu bahan ajar mata kuliah di program studi ekonomi syariah di tanah air yang masih
                                    belum tersedia, tetapi juga menjadi rujukan praktisi lembaga keuangan sya'riah dan pelaku bisnis untuk mengetahui rambu-rambu dalam transaksi ekonomi.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="buy-book" class="white-popup mfp-with-anim mfp-hide">
                <div class="row">
                    <div class="col-xs-16">
                        <div class="buying-book">
                            <div class="ion-bag"></div>
                            <p>Untuk Pembelian buku bisa hubungi tim kami melalui kontak berikut:</p>
                            <a href="https://api.whatsapp.com/send?phone=6281285757636&text=Assalamualaikum">Riski | 0812-8575-7636</a>
                            <a href="https://api.whatsapp.com/send?phone=6287885283747&text=Assalamualaikum">Rumahwasathia | 0878-8528-3747</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-16 col-md-6 right-side-style wow fadeInDown animated" data-wow-delay="1s" data-wow-offset="40">
                <div class="row">
                    <div class="col-sm-16">
                        <div class="main-title-outer pull-left">
                            <div class="main-title right-side">Artikel Terbaru</div>
                            <ul class="list-unstyled kajian">
                                <li>
                                    <a href="~/rwtheme/pdf/Belanja dengan Kartu Diskon.pdf" target="_blank">
                                        <div class="row">
                                            <div class="col-sm-4"><img class="img-thumbnail pull-left" src="~/rwtheme/images/general/pdf.png" alt="" /> </div>
                                            <div class="col-sm-12">
                                                <h4>Belanja dengan Kartu Diskon</h4>
                                                <div class="text-danger sub-info">
                                                    <div class="time"><span class="ion-android-data icon"></span>21 April 2018</div>
                                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="~/rwtheme/pdf/Bitcoin Menurut Fikih.pdf" target="_blank">
                                        <div class="row">
                                            <div class="col-sm-4"><img class="img-thumbnail pull-left" src="~/rwtheme/images/general/pdf.png" alt="" /> </div>
                                            <div class="col-sm-12">
                                                <h4>Bitcoin Menurut Fikih</h4>
                                                <div class="text-danger sub-info">
                                                    <div class="time"><span class="ion-android-data icon"></span>21 April 2018</div>
                                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="~/rwtheme/pdf/Denda Keterlambatan pada bank syariah.pdf" target="_blank">
                                        <div class="row">
                                            <div class="col-sm-4"><img class="img-thumbnail pull-left" src="~/rwtheme/images/general/pdf.png" alt="" /> </div>
                                            <div class="col-sm-12">
                                                <h4>Denda Keterlambatan pada bank syariah</h4>
                                                <div class="text-danger sub-info">
                                                    <div class="time"><span class="ion-android-data icon"></span>21 April 2018</div>
                                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="~/rwtheme/pdf/Fikih Bekerja di Lembaga konvensional.pdf" target="_blank">
                                        <div class="row">
                                            <div class="col-sm-4"><img class="img-thumbnail pull-left" src="~/rwtheme/images/general/pdf.png" alt="" /> </div>
                                            <div class="col-sm-12">
                                                <h4>Fikih Bekerja di Lembaga konvensional</h4>
                                                <div class="text-danger sub-info">
                                                    <div class="time"><span class="ion-android-data icon"></span>21 April 2018</div>
                                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="~/rwtheme/pdf/Fikih Biaya Perjalanan Dinas yang Dipersingkat.pdf" target="_blank">
                                        <div class="row">
                                            <div class="col-sm-4"><img class="img-thumbnail pull-left" src="~/rwtheme/images/general/pdf.png" alt="" /> </div>
                                            <div class="col-sm-12">
                                                <h4>Fikih Biaya Perjalanan Dinas yang Dipersingkat</h4>
                                                <div class="text-danger sub-info">
                                                    <div class="time"><span class="ion-android-data icon"></span>21 April 2018</div>
                                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Second Section Begin -->
    </div>
</div>
<!-- data end -->