
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_RWLayout.cshtml";
}

<!--data start Artikel.cshtml-->
<div class="container blogging-style">
    <div class="row">
        <!-- breadcrumb start -->
        <div class="page-header">
            <ol class="breadcrumb">
                <li><a href="#">Beranda</a></li>
                <li class="active">Tanya Jawab</li>
            </ol>
        </div>
        <!-- breadcrumb end -->
        <!-- Kolom artikel Begin -->
        <div class="col-sm-16 banner-outer gapTop">
            <div class="col-sm-16 col-md-16 wow fadeInLeft animated" data-wow-delay="1s" data-wow-offset="50">
                <div class="main-title-outer center-block">
                    <div class="main-title left-side album-desc" style="margin-bottom:0!important;">Pertanyaan &amp; Jawaban</div>
                    <div class="row">
                        <div class="col-xs-16">
                            <div class="tab">
                                <button class="tablinks" onclick="openCity(event, 'Fiqh')" id="defaultOpen">Fiqh</button>
                                <button class="tablinks" onclick="openCity(event, 'Aqidah')">Aqidah</button>
                                <button class="tablinks" onclick="openCity(event, 'Tafsir')">Tafsir</button>
                                <button class="tablinks" onclick="openCity(event, 'Muamalah')">Muamalah</button>
                                <button class="tablinks" onclick="openCity(event, 'Hadist')">Hadist</button>
                            </div>
                            <div id="Fiqh" class="tabcontent">
                                <div id="accordion">
                                    <ul id="x">
                                        <li>
                                            <input type="checkbox" checked>
                                            <i></i>
                                            <h2>Languages Used</h2>
                                            <p>This page was written in HTML and CSS. The CSS was compiled from SASS. I used Normalize as my CSS reset and -prefix-free to save myself some headaches. I haven't quite gotten the hang of Slim for compiling into HTML, but someday I'll use it since its syntax compliments that of SASS. Regardless, this could all be done in plain HTML and CSS.</p>
                                        </li>
                                        <li>
                                            <input type="checkbox" checked>
                                            <i></i>
                                            <h2>How it Works</h2>
                                            <p>Using the sibling and checked selectors, we can determine the styling of sibling elements based on the checked state of the checkbox input element. One use, as demonstrated here, is an entirely CSS and HTML accordion element. Media queries are used to make the element responsive to different screen sizes.</p>
                                        </li>
                                        <li>
                                            <input type="checkbox" checked>
                                            <i></i>
                                            <h2>Points of Interest</h2>
                                            <p>By making the open state default for when :checked isn't detected, we can make this system accessable for browsers that don't recognize :checked. The fallback is simply an open accordion. The accordion can be manipulated with Javascript (if needed) by changing the "checked" property of the input element.</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div id="Aqidah" class="tabcontent">
                                <h3>Paris</h3>
                                <p>Paris is the capital of France.</p>
                            </div>

                            <div id="Tafsir" class="tabcontent">
                                <h3>Tokyo</h3>
                                <p>Tokyo is the capital of Japan.</p>
                            </div>
                            <div id="Muamalah" class="tabcontent">
                                <h3>Tokyo</h3>
                                <p>Tokyo is the capital of Japan.</p>
                            </div>
                            <div id="Hadist" class="tabcontent">
                                <h3>Tokyo</h3>
                                <p>Tokyo is the capital of Japan.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- data end -->