
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_RWLayout.cshtml";
}

<!--data start Artikel.cshtml-->
<div class="container blogging-style">
    <div class="row">
        <!-- breadcrumb start -->
        <div class="page-header">
            <ol class="breadcrumb">
                <li><a href="#">Beranda</a></li>
                <li class="active">Tanya Jawab</li>
            </ol>
        </div>
        <!-- breadcrumb end -->
        <!-- Kolom artikel Begin -->
        <div class="col-sm-16 banner-outer gapTop">
            <div class="col-sm-16 col-md-16 wow fadeInLeft animated" data-wow-delay="1s" data-wow-offset="50">
                <div class="main-title-outer center-block">
                    <div class="main-title left-side album-desc" style="margin-bottom:0!important;">Pertanyaan &amp; Jawaban</div>
                    <div class="row no-margin">
                        <div class="col-md-4">
                            <div class="tab">
                                <button class="tablinks" onclick="openCity(event, 'Fiqh')" id="defaultOpen">Fiqh</button>
                                <button class="tablinks" onclick="openCity(event, 'Aqidah')">Aqidah</button>
                                <button class="tablinks" onclick="openCity(event, 'Tafsir')">Tafsir</button>
                                <button class="tablinks" onclick="openCity(event, 'Muamalah')">Muamalah</button>
                                <button class="tablinks" onclick="openCity(event, 'Hadist')">Hadist</button>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div id="Fiqh" class="tabcontent">
                                <div id="accordion">
                                    <ul id="x">
                                        <li>
                                            <input type="checkbox" checked>
                                            <i></i>
                                            <h2>Saya punya pertanyaan mengenai jual beli mata uang asing. Seperti yang diprediksikan sejumlah pengamat, 1 dolar akan mencapai nilai Rp15.000 pada 2014 nanti. Nah bolehkah sekarang saya membeli dolar dengan tujuan mengambil keuntungan saat rupiah melemah nanti? Tentunya transaksi bersifat kontan, bukan forward, spot, dsb. Terima kasih. (xxxxx8zig@yahoo.com )</h2>
                                            <p>
                                                Asalkan tunai yaitu semua diserahterimakan sebelum majelis transaksi berakhir hukumnya boleh karena jika tukar menukar uang yang berbeda semisal dollar dengan rupiah hanya ada syarat yang wajib dipenuhi yaitu semua telah diserahterimakan sebelum majelis transaksi berakhir.
                                            </p>
                                        </li>
                                        <li>
                                            <input type="checkbox" checked>
                                            <i></i>
                                            <h2>jika ada pengurus DKM yang memesan kue kepada saya untuk acara mesjid lalu saya memberikan sejumlah uang ( uang tersebut diambil dari harga persatuan saya kurangi Rp 100 kali jumlah kue yang dia pesan ) sebagai tanda terima kasih apakah diperbolehkan?</h2>
                                            <p>
                                                Jika untuk pemesan, hukumnya tidak boleh karena itu adalah uang suap agar selalu pesan kue di tempat tersebut.
                                            </p>
                                        </li>
                                        <li>
                                            <input type="checkbox" checked>
                                            <i></i>
                                            <h2>Apa hukum menerima sumbangan dari yayasan orang kafir untuk keperluan darurat seperti biaya pengobatan rumah sakit. Sedangkan orang tersebut sudah berusaha untuk meminjam uang pada orang muslim tidak / belum ada yang memberi pinjaman padahal keperluannya sangat mendesak</h2>
                                            <p>
                                                Insya Allah tidak mengapa jika tidak menyebabkan berhutang budi kepada si kafir.
                                            </p>
                                        </li>
                                        <li>
                                            <input type="checkbox" checked>
                                            <i></i>
                                            <h2>Mau tanya hukumnya mengikuti tender, apa dibolehkan? Karena di salah satu Hadits Nabi Saw dari Ibnu Umar ra. kurang lebihnya dinyatakan bahwa dilarang untuk menawar sesuatu (barang/jasa) yang sedang ditawar oleh saudaramu. Mengingat mekanisme tender adalah mengajukan penawaran, meskipun telah ada penawaran dari pihak lain yang terlebih dahulu dimasukkan dan belum diputuskan diterima atau ditolaknya tawaran itu (xxxxxnto@gmail.com)</h2>
                                            <p>
                                                Jual beli lelang boleh dalam Islam asalkan semua peserta lelang berniat untuk menjadi pemenang, bukan sekedar basa basi.
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div id="Aqidah" class="tabcontent">
                                <div id="accordion">
                                    <ul id="x">
                                        <li>
                                            <input type="checkbox" checked>
                                            <i></i>
                                            <h2>Saya punya pertanyaan mengenai jual beli mata uang asing. Seperti yang diprediksikan sejumlah pengamat, 1 dolar akan mencapai nilai Rp15.000 pada 2014 nanti. Nah bolehkah sekarang saya membeli dolar dengan tujuan mengambil keuntungan saat rupiah melemah nanti? Tentunya transaksi bersifat kontan, bukan forward, spot, dsb. Terima kasih. (xxxxx8zig@yahoo.com )</h2>
                                            <p>
                                                Asalkan tunai yaitu semua diserahterimakan sebelum majelis transaksi berakhir hukumnya boleh karena jika tukar menukar uang yang berbeda semisal dollar dengan rupiah hanya ada syarat yang wajib dipenuhi yaitu semua telah diserahterimakan sebelum majelis transaksi berakhir.
                                            </p>
                                        </li>
                                        <li>
                                            <input type="checkbox" checked>
                                            <i></i>
                                            <h2>jika ada pengurus DKM yang memesan kue kepada saya untuk acara mesjid lalu saya memberikan sejumlah uang ( uang tersebut diambil dari harga persatuan saya kurangi Rp 100 kali jumlah kue yang dia pesan ) sebagai tanda terima kasih apakah diperbolehkan?</h2>
                                            <p>
                                                Jika untuk pemesan, hukumnya tidak boleh karena itu adalah uang suap agar selalu pesan kue di tempat tersebut.
                                            </p>
                                        </li>
                                        <li>
                                            <input type="checkbox" checked>
                                            <i></i>
                                            <h2>Apa hukum menerima sumbangan dari yayasan orang kafir untuk keperluan darurat seperti biaya pengobatan rumah sakit. Sedangkan orang tersebut sudah berusaha untuk meminjam uang pada orang muslim tidak / belum ada yang memberi pinjaman padahal keperluannya sangat mendesak</h2>
                                            <p>
                                                Insya Allah tidak mengapa jika tidak menyebabkan berhutang budi kepada si kafir.
                                            </p>
                                        </li>
                                        <li>
                                            <input type="checkbox" checked>
                                            <i></i>
                                            <h2>Mau tanya hukumnya mengikuti tender, apa dibolehkan? Karena di salah satu Hadits Nabi Saw dari Ibnu Umar ra. kurang lebihnya dinyatakan bahwa dilarang untuk menawar sesuatu (barang/jasa) yang sedang ditawar oleh saudaramu. Mengingat mekanisme tender adalah mengajukan penawaran, meskipun telah ada penawaran dari pihak lain yang terlebih dahulu dimasukkan dan belum diputuskan diterima atau ditolaknya tawaran itu (xxxxxnto@gmail.com)</h2>
                                            <p>
                                                Jual beli lelang boleh dalam Islam asalkan semua peserta lelang berniat untuk menjadi pemenang, bukan sekedar basa basi.
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div id="Tafsir" class="tabcontent">
                                <div id="accordion">
                                    <ul id="x">
                                        <li>
                                            <input type="checkbox" checked>
                                            <i></i>
                                            <h2>Saya punya pertanyaan mengenai jual beli mata uang asing. Seperti yang diprediksikan sejumlah pengamat, 1 dolar akan mencapai nilai Rp15.000 pada 2014 nanti. Nah bolehkah sekarang saya membeli dolar dengan tujuan mengambil keuntungan saat rupiah melemah nanti? Tentunya transaksi bersifat kontan, bukan forward, spot, dsb. Terima kasih. (xxxxx8zig@yahoo.com )</h2>
                                            <p>
                                                Asalkan tunai yaitu semua diserahterimakan sebelum majelis transaksi berakhir hukumnya boleh karena jika tukar menukar uang yang berbeda semisal dollar dengan rupiah hanya ada syarat yang wajib dipenuhi yaitu semua telah diserahterimakan sebelum majelis transaksi berakhir.
                                            </p>
                                        </li>
                                        <li>
                                            <input type="checkbox" checked>
                                            <i></i>
                                            <h2>jika ada pengurus DKM yang memesan kue kepada saya untuk acara mesjid lalu saya memberikan sejumlah uang ( uang tersebut diambil dari harga persatuan saya kurangi Rp 100 kali jumlah kue yang dia pesan ) sebagai tanda terima kasih apakah diperbolehkan?</h2>
                                            <p>
                                                Jika untuk pemesan, hukumnya tidak boleh karena itu adalah uang suap agar selalu pesan kue di tempat tersebut.
                                            </p>
                                        </li>
                                        <li>
                                            <input type="checkbox" checked>
                                            <i></i>
                                            <h2>Apa hukum menerima sumbangan dari yayasan orang kafir untuk keperluan darurat seperti biaya pengobatan rumah sakit. Sedangkan orang tersebut sudah berusaha untuk meminjam uang pada orang muslim tidak / belum ada yang memberi pinjaman padahal keperluannya sangat mendesak</h2>
                                            <p>
                                                Insya Allah tidak mengapa jika tidak menyebabkan berhutang budi kepada si kafir.
                                            </p>
                                        </li>
                                        <li>
                                            <input type="checkbox" checked>
                                            <i></i>
                                            <h2>Mau tanya hukumnya mengikuti tender, apa dibolehkan? Karena di salah satu Hadits Nabi Saw dari Ibnu Umar ra. kurang lebihnya dinyatakan bahwa dilarang untuk menawar sesuatu (barang/jasa) yang sedang ditawar oleh saudaramu. Mengingat mekanisme tender adalah mengajukan penawaran, meskipun telah ada penawaran dari pihak lain yang terlebih dahulu dimasukkan dan belum diputuskan diterima atau ditolaknya tawaran itu (xxxxxnto@gmail.com)</h2>
                                            <p>
                                                Jual beli lelang boleh dalam Islam asalkan semua peserta lelang berniat untuk menjadi pemenang, bukan sekedar basa basi.
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div id="Muamalah" class="tabcontent">
                                <div id="accordion">
                                    <ul id="x">
                                        <li>
                                            <input type="checkbox" checked>
                                            <i></i>
                                            <h2>Saya punya pertanyaan mengenai jual beli mata uang asing. Seperti yang diprediksikan sejumlah pengamat, 1 dolar akan mencapai nilai Rp15.000 pada 2014 nanti. Nah bolehkah sekarang saya membeli dolar dengan tujuan mengambil keuntungan saat rupiah melemah nanti? Tentunya transaksi bersifat kontan, bukan forward, spot, dsb. Terima kasih. (xxxxx8zig@yahoo.com )</h2>
                                            <p>
                                                Asalkan tunai yaitu semua diserahterimakan sebelum majelis transaksi berakhir hukumnya boleh karena jika tukar menukar uang yang berbeda semisal dollar dengan rupiah hanya ada syarat yang wajib dipenuhi yaitu semua telah diserahterimakan sebelum majelis transaksi berakhir.
                                            </p>
                                        </li>
                                        <li>
                                            <input type="checkbox" checked>
                                            <i></i>
                                            <h2>jika ada pengurus DKM yang memesan kue kepada saya untuk acara mesjid lalu saya memberikan sejumlah uang ( uang tersebut diambil dari harga persatuan saya kurangi Rp 100 kali jumlah kue yang dia pesan ) sebagai tanda terima kasih apakah diperbolehkan?</h2>
                                            <p>
                                                Jika untuk pemesan, hukumnya tidak boleh karena itu adalah uang suap agar selalu pesan kue di tempat tersebut.
                                            </p>
                                        </li>
                                        <li>
                                            <input type="checkbox" checked>
                                            <i></i>
                                            <h2>Apa hukum menerima sumbangan dari yayasan orang kafir untuk keperluan darurat seperti biaya pengobatan rumah sakit. Sedangkan orang tersebut sudah berusaha untuk meminjam uang pada orang muslim tidak / belum ada yang memberi pinjaman padahal keperluannya sangat mendesak</h2>
                                            <p>
                                                Insya Allah tidak mengapa jika tidak menyebabkan berhutang budi kepada si kafir.
                                            </p>
                                        </li>
                                        <li>
                                            <input type="checkbox" checked>
                                            <i></i>
                                            <h2>Mau tanya hukumnya mengikuti tender, apa dibolehkan? Karena di salah satu Hadits Nabi Saw dari Ibnu Umar ra. kurang lebihnya dinyatakan bahwa dilarang untuk menawar sesuatu (barang/jasa) yang sedang ditawar oleh saudaramu. Mengingat mekanisme tender adalah mengajukan penawaran, meskipun telah ada penawaran dari pihak lain yang terlebih dahulu dimasukkan dan belum diputuskan diterima atau ditolaknya tawaran itu (xxxxxnto@gmail.com)</h2>
                                            <p>
                                                Jual beli lelang boleh dalam Islam asalkan semua peserta lelang berniat untuk menjadi pemenang, bukan sekedar basa basi.
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div id="Hadist" class="tabcontent">
                                <div id="accordion">
                                    <ul id="x">
                                        <li>
                                            <input type="checkbox" checked>
                                            <i></i>
                                            <h2>Saya punya pertanyaan mengenai jual beli mata uang asing. Seperti yang diprediksikan sejumlah pengamat, 1 dolar akan mencapai nilai Rp15.000 pada 2014 nanti. Nah bolehkah sekarang saya membeli dolar dengan tujuan mengambil keuntungan saat rupiah melemah nanti? Tentunya transaksi bersifat kontan, bukan forward, spot, dsb. Terima kasih. (xxxxx8zig@yahoo.com )</h2>
                                            <p>
                                                Asalkan tunai yaitu semua diserahterimakan sebelum majelis transaksi berakhir hukumnya boleh karena jika tukar menukar uang yang berbeda semisal dollar dengan rupiah hanya ada syarat yang wajib dipenuhi yaitu semua telah diserahterimakan sebelum majelis transaksi berakhir.
                                            </p>
                                        </li>
                                        <li>
                                            <input type="checkbox" checked>
                                            <i></i>
                                            <h2>jika ada pengurus DKM yang memesan kue kepada saya untuk acara mesjid lalu saya memberikan sejumlah uang ( uang tersebut diambil dari harga persatuan saya kurangi Rp 100 kali jumlah kue yang dia pesan ) sebagai tanda terima kasih apakah diperbolehkan?</h2>
                                            <p>
                                                Jika untuk pemesan, hukumnya tidak boleh karena itu adalah uang suap agar selalu pesan kue di tempat tersebut.
                                            </p>
                                        </li>
                                        <li>
                                            <input type="checkbox" checked>
                                            <i></i>
                                            <h2>Apa hukum menerima sumbangan dari yayasan orang kafir untuk keperluan darurat seperti biaya pengobatan rumah sakit. Sedangkan orang tersebut sudah berusaha untuk meminjam uang pada orang muslim tidak / belum ada yang memberi pinjaman padahal keperluannya sangat mendesak</h2>
                                            <p>
                                                Insya Allah tidak mengapa jika tidak menyebabkan berhutang budi kepada si kafir.
                                            </p>
                                        </li>
                                        <li>
                                            <input type="checkbox" checked>
                                            <i></i>
                                            <h2>Mau tanya hukumnya mengikuti tender, apa dibolehkan? Karena di salah satu Hadits Nabi Saw dari Ibnu Umar ra. kurang lebihnya dinyatakan bahwa dilarang untuk menawar sesuatu (barang/jasa) yang sedang ditawar oleh saudaramu. Mengingat mekanisme tender adalah mengajukan penawaran, meskipun telah ada penawaran dari pihak lain yang terlebih dahulu dimasukkan dan belum diputuskan diterima atau ditolaknya tawaran itu (xxxxxnto@gmail.com)</h2>
                                            <p>
                                                Jual beli lelang boleh dalam Islam asalkan semua peserta lelang berniat untuk menjadi pemenang, bukan sekedar basa basi.
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- data end -->