
@{
    ViewBag.Title = "Admin Rumah Wasathia";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!-- MENU #############################-->
<!-- /MENU -->
<!-- =============================================== -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header">
                        <h3 class="box-title">Unggah Artikel</h3>
                        <div class="form-group">
                            <label for="exampleInputEmail1"> </label>
                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Judul Artikel">
                        </div>
                        <div class="pull-right box-tools">
                            <button type="button" class="btn btn-info btn-sm" data-widget="collapse" data-toggle="tooltip"
                                    title="Collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body pad">
                        <form>
                            <div class="form-group">
                                <label for="exampleInputFile">File input</label>
                                <input type="file" id="exampleInputFile">

                                <p class="help-block">Pilih Artikel yang akan diunggah</p>
                            </div>
                            <div class="box-footer">
                                <button type="submit" class="btn btn-primary pull-right">Bagikan</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col-->
        </div>
        <!-- ./row -->
    </section>
    <!-- /.content -->
</div>