
@{
    ViewData["Title"] = "KonsultasiRumahWasathia";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header">
                        <h3 class="box-title">Unggah Konsultasi Republika Online</h3>
                        <div class="form-group">
                            <label for="exampleInputEmail1"> </label>
                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Judul Konsultasi Republika Online">
                        </div>
                        <div class="pull-right box-tools">
                            <button type="button" class="btn btn-info btn-sm" data-widget="collapse" data-toggle="tooltip"
                                    title="Collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body pad">
                        <form>
                            <div class="form-group">
                                <label for="exampleInputEmail1"> </label>
                                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Penulis">
                            </div>
                            <textarea id="editor1" name="editor1" rows="10" cols="80">
                                            This is my textarea to be replaced with CKEditor.
                            </textarea>
                            <textarea id="editor1" name="editor1" rows="10" cols="80">
                                            This is my textarea to be replaced with CKEditor.
                            </textarea>
                            <div class="box-footer">
                                <button type="submit" class="btn btn-primary pull-right">Bagikan</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col-->
        </div>
        <!-- ./row -->
    </section>
    <!-- /.content -->
</div>

