@{
    ViewData["Title"] = "Beranda";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="td-main-content-wrap td-container-wrap">

    <div class="td-container td-blog-index <?php echo $td_sidebar_position; ?>">
        <div class="td-crumb-container">
            <?php echo td_page_generator::get_home_breadcrumbs(); ?>
        </div>
        <div class="td-pb-row">
            <?php
            switch ($loop_sidebar_position) {
            default:
            ?>
            <div class="td-pb-span8 td-main-content">
                <div class="td-ss-main-content">
                    <?php
                    locate_template('loop.php', true);
                    echo td_page_generator::get_pagination();
                    ?>
                </div>
            </div>
            <div class="td-pb-span4 td-main-sidebar">
                <div class="td-ss-main-sidebar">
                    <?php get_sidebar(); ?>
                </div>
            </div>
            <?php
            break;

            case 'sidebar_left':
            ?>
            <div class="td-pb-span8 td-main-content <?php echo $td_sidebar_position; ?>-content">
                <div class="td-ss-main-content">
                    <?php
                    locate_template('loop.php', true);
                    echo td_page_generator::get_pagination();
                    ?>
                </div>
            </div>
            <div class="td-pb-span4 td-main-sidebar">
                <div class="td-ss-main-sidebar">
                    <?php get_sidebar(); ?>
                </div>
            </div>
            <?php
            break;

            case 'no_sidebar':
            td_global::$load_featured_img_from_template = 'full';

            ?>
            <div class="td-pb-span12 td-main-content">
                <div class="td-ss-main-content">
                    <?php
                    locate_template('loop.php', true);
                    echo td_page_generator::get_pagination();
                    ?>
                </div>
            </div>
            <?php
            break;
            }
            ?>
        </div> <!-- /.td-pb-row -->
    </div> <!-- /.td-container -->
</div> <!-- /.td-main-content-wrap -->