@model MvcRWV2.Models.Artikel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
    <div class="col-md-4">
        <h1 class="inline">Artikel</h1>
        <div type="button" class="btn btn-primary">
            <a asp-action="Create">Buat Baru</a>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <form asp-action="Create">
        <div class="col-md-8">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">Create Artikel</h3>
                    <div class="pull-right box-tools">
                        <button type="button" class="btn btn-info btn-sm" data-widget="collapse" data-toggle="tooltip"
                                title="Collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body pad">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Judul" class="control-label"></label>
                        <input asp-for="Judul" class="form-control" />
                        <span asp-validation-for="Judul" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Source" class="control-label"></label>
                        <input asp-for="Source" class="form-control" />
                        <span asp-validation-for="Source" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Path" class="control-label"></label>
                        <input asp-for="Path" class="form-control" type="file" name="upload" accept="pdf" />
                        <span asp-validation-for="Path" class="text-danger"></span>
                    </div>
                    <!--
                    <div class="form-group">
                        <label asp-for="Path" class="col-md-3 control-label">Upload File</label>
                        <div class="col-md-9">
                            <input asp-for="Path" type="file" class="form-control" style="height:auto" />
                            <span asp-validation-for="Path" class="text-danger"></span>
                        </div>
                        <p class="help-block">Pilih Artikel yang akan diunggah</p>
                    </div>-->
                </div>
            </div>
            <!-- /.box -->
        </div>
        <div class="col-md-2">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header">
                        <h3 class="box-title">Publish</h3>
                        <div class="pull-right box-tools">
                            <button type="button" class="btn btn-info btn-sm" data-widget="collapse" data-toggle="tooltip"
                                    title="Collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body pad">
                        <div class="form-group">
                            <span class="pull-right">
                                <input type="submit" value="Simpan" class="btn btn-default" />
                                <a asp-action="List" class="btn btn-info" role="button">Kembali</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header">
                        <h3 class="box-title">Tag</h3>
                        <div class="pull-right box-tools">
                            <button type="button" class="btn btn-info btn-sm" data-widget="collapse" data-toggle="tooltip"
                                    title="Collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body pad">
                        <div class="form-group">
                            <select class="form-control" id="sel2" asp-for="Tag">
                                <option value="null"></option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                            <span asp-validation-for="Tag" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header">
                        <h3 class="box-title">Kategori</h3>
                        <div class="pull-right box-tools">
                            <button type="button" class="btn btn-info btn-sm" data-widget="collapse" data-toggle="tooltip"
                                    title="Collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body pad">
                        <div class="form-group">
                            <select class="form-control" id="sel1" asp-for="Kategori">
                                <option value="null"></option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                            <span asp-validation-for="Kategori" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header">
                        <h3 class="box-title">Gambar Cover</h3>
                        <div class="pull-right box-tools">
                            <button type="button" class="btn btn-info btn-sm" data-widget="collapse" data-toggle="tooltip"
                                    title="Collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body pad">
                        <div class="form-group">
                                <span>Pilih Gambar Cover</span>
                                <div class="form-group">
                                    <label asp-for="FImage" class="control-label"></label>
                                    <input asp-for="FImage" class="form-control" />
                                    <span asp-validation-for="FImage" class="text-danger"></span>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box -->
        </div>
    </form>
    <!-- /.col-->
</div>
<!-- ./row -->
